@import "../common/vars";

.dashboard {
  &__item {
    margin-top: $o-md;
  }
  &__item:first-child {
    margin-top: 0;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__list-item {
    margin-top: $o-xs;
  }
  &__list-item:first-child {
    margin-top: 0;
  }
  &__order-item {
    padding: 0;
    margin: 0;
    color: $orange-700;
    font-size: $fs-md;
    line-height: $lh-md;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__chart {
    @include flex($ai: stretch);
    width: 100%;
  }
  &__chart-item {
    @include flex-grow(1);
  }
  &__chart-height {
    @include flex($fd: column, $jc: flex-end, $ai: stretch);
    width: 4rem;
    height: 14rem;
    margin: 0 auto $o-sm;
  }
  &__chart-bar {
    width: 100%;
    height: 0;
    min-height: $lh-nl;
    color: $gray-0;
    text-align: center;
    background-color: $blue-gray-700;
    -webkit-transition: height .3s;
    transition: height .3s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    will-change: height;
  }
  &__chart-amount {
    padding: 0;
    margin: 0;
  }
  &__chart-desc {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__chart-cap {
    padding: 0;
    margin: 0;
  }
  &__product {
    display: block;
    width: 5rem;
    margin: 0 auto;
    box-sizing: border-box;
  }
}