.dashboard__item {
  margin-top: 2rem; }
.dashboard__item:first-child {
  margin-top: 0; }
.dashboard__list {
  padding: 0;
  margin: 0;
  list-style: none; }
.dashboard__list-item {
  margin-top: 0.5rem; }
.dashboard__list-item:first-child {
  margin-top: 0; }
.dashboard__order-item {
  padding: 0;
  margin: 0;
  color: #f57c00;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  font-weight: 500; }
.dashboard__chart {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  width: 100%; }
.dashboard__chart-item {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1; }
.dashboard__chart-height {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  width: 4rem;
  height: 14rem;
  margin: 0 auto 1rem; }
.dashboard__chart-bar {
  width: 100%;
  height: 0;
  min-height: 1.375rem;
  color: #ffffff;
  text-align: center;
  background-color: #455A64;
  -webkit-transition: height .3s;
  transition: height .3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  will-change: height; }
.dashboard__chart-amount {
  padding: 0;
  margin: 0; }
.dashboard__chart-desc {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase; }
.dashboard__chart-cap {
  padding: 0;
  margin: 0; }
.dashboard__product {
  display: block;
  width: 5rem;
  margin: 0 auto;
  box-sizing: border-box; }

/*# sourceMappingURL=dashboard.css.map */
