@import "../common/vars";

.breadcrumbs {
  display: none;
  @media (min-width: $sm) {
    display: block;
  }
  &__wrp {
    @include flex($fd: column, $ai: flex-start);
    @media (min-width: $sm) {
      @include flex-direction(row);
      //@include align-items(center);
    }
  }
  &__link,
  &__current {
    @include flex-shrink(0);
    margin-bottom: $p-xs;
    line-height: $lh-nl;
    @media (min-width: $sm) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__separator {
    display: none;
    margin: 0 $p-xs;
    line-height: $lh-nl;
    @media (min-width: $sm) {
      display: block;
    }
  }
  &__current {
    @include flex-shrink(1);
    margin: 0;
    color: $gray-800;
    line-height: $lh-nl;
  }
}