<div class="breadcrumbs">
	<div class="fixed-block row">
		<div class="row__col-xs-12 row__col-sm-12 row__col-md-12 row__col-lg-12 row__col-hg-12">
			<div class="breadcrumbs__wrp" data-sim="foreach($data.list as $element)">
				<a class="link link_m breadcrumbs__link" href="javascript:void(0);" data-sim="ignore()">Главная страница</a>
				<span class="breadcrumbs__separator" data-sim="ignore()"> → </span>
				<a class="link link_m breadcrumbs__link" href="javascript:void(0);" data-sim="if(NOT $element.item.link ? ignore()); if($element.item.link ? attributes(href,$element.item.link)); content($element.item.name);">Подраздел</a>
				<span class="breadcrumbs__separator" data-sim="if(NOT $element.item.link ? ignore())"> → </span>
				<p class="breadcrumbs__current" data-sim="if(NOT $element.item.link ? content($element.item.name)); if($element.item.link ? ignore());">Подраздел подраздела</p>
			</div>
		</div>
	</div>
</div>