.breadcrumbs {
  display: none; }
  @media (min-width: 48rem) {
    .breadcrumbs {
      display: block; } }
  .breadcrumbs__wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
    @media (min-width: 48rem) {
      .breadcrumbs__wrp {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .breadcrumbs__link, .breadcrumbs__current {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-bottom: 10px;
    line-height: 1.375rem; }
    @media (min-width: 48rem) {
      .breadcrumbs__link, .breadcrumbs__current {
        margin-bottom: 0; } }
    .breadcrumbs__link:last-child, .breadcrumbs__current:last-child {
      margin-bottom: 0; }
  .breadcrumbs__separator {
    display: none;
    margin: 0 10px;
    line-height: 1.375rem; }
    @media (min-width: 48rem) {
      .breadcrumbs__separator {
        display: block; } }
  .breadcrumbs__current {
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    margin: 0;
    color: #777777;
    line-height: 1.375rem; }

/*# sourceMappingURL=breadcrumbs.css.map */
