@import "../common/vars";

.header {
  width: 100%;

  &__top {
    width: 100%;
    padding: $o-sm 0;
    background-color: $gray-0;
  }
  &__top-wrp {
    @include flex();
  }
  &__logo-col {
    @include flex-shrink(0);
  }
  &__slogan-col {}
  &__logout-col {
    margin-left: auto;
  }
  &__logout-btn {}
  &__logout-cap {}
  &__bottom {
    width: 100%;
    padding: $o-sm 0;
    background-color: $blue-gray-700;
    color: $gray-0;
  }
  &__bottom-wrp {
    @include flex();
  }
  &__worker-col {
    @include flex();
    max-width: 24rem;
    margin-right: $o-sm;
  }
  &__worker-image {
    @include flex-shrink(0);
    display: block;
    width: auto;
    height: 7rem;
  }
  &__worker {
    margin-left: $o-sm;
    text-transform: uppercase;
  }
  &__worker-name {
    padding: 0;
    margin: $o-xs 0 0;
    font-size: $fs-md;
    line-height: $lh-md;
    font-weight: 500;
  }
  &__worker-vid {
    padding: 0;
    margin: $o-xs 0 0;
    opacity: .4;
  }
  &__worker-spec {
    display: inline-block;
    padding: $o-xxs $o-xs;
    margin: $o-xs 0 0;
    font-weight: 500;
    background-color: $blue-gray-600;
  }
  &__worker-department {
    padding: 0;
    margin: $o-xs 0 0;
    opacity: .4;
  }
  &__menu-col {
    margin-left: auto;
  }
}