.header {
  width: 100%; }
  .header__top {
    width: 100%;
    padding: 1rem 0;
    background-color: #ffffff; }
  .header__top-wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .header__logo-col {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0; }
  .header__logout-col {
    margin-left: auto; }
  .header__bottom {
    width: 100%;
    padding: 1rem 0;
    background-color: #455A64;
    color: #ffffff; }
  .header__bottom-wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .header__worker-col {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    max-width: 24rem;
    margin-right: 1rem; }
  .header__worker-image {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    width: auto;
    height: 7rem; }
  .header__worker {
    margin-left: 1rem;
    text-transform: uppercase; }
  .header__worker-name {
    padding: 0;
    margin: 0.5rem 0 0;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500; }
  .header__worker-vid {
    padding: 0;
    margin: 0.5rem 0 0;
    opacity: .4; }
  .header__worker-spec {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0 0;
    font-weight: 500;
    background-color: #546E7A; }
  .header__worker-department {
    padding: 0;
    margin: 0.5rem 0 0;
    opacity: .4; }
  .header__menu-col {
    margin-left: auto; }

/*# sourceMappingURL=header.css.map */
