.order-form {
  margin-top: 6rem; }
  .order-form__title {
    padding: 0 0 1rem;
    margin: 0 0 2rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500;
    border-bottom: solid 0.25rem #546E7A; }
  .order-form__bottom {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
    border-top: solid 0.25rem #546E7A; }
  .order-form__bottom-title {
    position: absolute;
    left: 0;
    bottom: -3rem;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500; }
  .order-form__cap {
    position: static;
    padding: 0;
    margin: 0;
    width: 30rem !important;
    font-size: 1.25rem;
    line-height: 1.625rem; }
  .order-form__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .order-form__item {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0; }
  .order-form__name-cell {
    width: 10rem;
    margin-right: 1rem; }
  .order-form__code-cell {
    width: 10rem;
    margin-right: 1rem; }
  .order-form__amount-cell {
    width: 100%;
    max-width: 10rem; }
  .order-form__actions {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 0.25rem #546E7A; }
  .order-form__cost {
    margin-right: 3rem;
    font-size: 1.25rem;
    line-height: 1.625rem; }
  .order-form__submit-btn {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0; }
  .order-form__messages {
    margin-top: 2rem; }
  .order-form__block {
    margin-top: 1rem; }
  .order-form__block:first-child {
    margin-top: 0; }

/*# sourceMappingURL=order-form.css.map */
