@import "../common/vars";

.order-form {
  margin-top: 2*$o-lg;

  &__wrp {}
  &__title {
    padding: 0 0 $o-sm;
    margin: 0 0 $o-md;
    font-size: $fs-lg;
    line-height: $lh-lg;
    font-weight: 500;
    border-bottom: solid .25rem $blue-gray-600;
  }
  &__bottom {
    position: relative;
    width: 100%;
    padding: 0;
    margin: $o-md 0;
    border-top: solid .25rem $blue-gray-600;
  }
  &__bottom-title {
    position: absolute;
    left: 0;
    bottom: -$o-lg;
    padding: 0;
    margin: 0;
    font-size: $fs-lg;
    line-height: $lh-lg;
    font-weight: 500;
  }
  &__cap {
    position: static;
    padding: 0;
    margin: 0;
    width: 30rem !important;
    font-size: $fs-md;
    line-height: $lh-md;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    @include flex($jc: flex-end);
    padding: 0;
    margin: 0;
  }
  &__item-cell {}
  &__name-cell {
    width: 10rem;
    margin-right: $o-sm;
  }
  &__code-cell {
    width: 10rem;
    margin-right: $o-sm;
  }
  &__amount-cell {
    width: 100%;
    max-width: 10rem;
  }
  &__actions {
    @include flex($jc: flex-end);
    padding-top: $o-md;
    margin-top: $o-md;
    border-top: solid .25rem $blue-gray-600;
  }
  &__cost {
    margin-right: $o-lg;
    font-size: $fs-md;
    line-height: $lh-md;
  }
  &__submit-btn {
    @include flex-shrink(0);
  }
  &__messages {
    margin-top: $o-md;
  }
  &__block {
    margin-top: $o-sm;
  }
  &__block:first-child {
    margin-top: 0;
  }
}