<!--block:html-head-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{- this['html-head'].title }}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.75, user-scalable=yes" />
	<link href="styles.css" rel="stylesheet"/>
</head>
<body class="page">
<!--end:html-head-->

<section class="page__wrp" id="page">
	<main class="main">
		Оформление заказа
	</main>
</section>
<!--block:html-foot-->
<script src="scripts.js"></script>
</body>
</html>
<!--end:html-foot-->
