.link {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: inherit;
  font: inherit;
  white-space: normal;
  outline: none;
  border-radius: 0;
  color: #1976D2;
  border: solid 0 rgba(25, 118, 210, 0.3);
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: color .15s, border-color .15s;
  transition: color .15s, border-color .15s;
  cursor: pointer; }
  .link__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    min-height: 1.375rem;
    height: 100%;
    margin-right: 5px;
    fill: #333333;
    pointer-events: none; }
  .link__icon:last-child {
    margin-right: 0; }
  .link__svg {
    position: absolute;
    top: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 16px; }
  .link__cap {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    border-bottom-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
    pointer-events: none; }
  .link:focus {
    outline: dotted 1px rgba(21, 101, 192, 0.75);
    outline-offset: 3px; }
  .link:hover {
    color: #1565C0;
    border-color: rgba(21, 101, 192, 0.3); }
  .link:active {
    color: #0D47A1;
    border-color: rgba(13, 71, 161, 0.3); }
  .link[data-disabled] {
    outline: none; }
  .link_local {
    border-bottom-style: dashed; }
  .link_muted {
    color: #777777;
    border-color: rgba(119, 119, 119, 0.3); }
  .link_m, .link_multiline {
    display: inline;
    border-bottom-width: 1px; }
  .link_m .link__icon, .link_multiline .link__icon {
    display: none; }
  .link_m .link__cap, .link_multiline .link__cap {
    display: none; }
  .link_btn {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    height: 2.5rem;
    line-height: 0.5rem;
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    font: inherit;
    text-align: center;
    color: #333333;
    border: solid 1px #e6e6e6;
    background-color: #fafafa;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .15s, border-color .15s, background-color .15s;
    transition: color .15s, border-color .15s, background-color .15s; }
    @media (min-width: 62rem) {
      .link_btn {
        padding-left: 15px;
        padding-right: 15px; } }
  .link_btn:focus {
    color: #333333;
    border-color: #009688;
    outline: none; }
  .link_btn:hover {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #bbbbbb; }
  .link_btn:active {
    color: #333333;
    background-color: #f0f0f0;
    border-color: #bbbbbb; }
  .link_btn .link__cap {
    line-height: 2.375rem;
    color: inherit;
    border-color: transparent; }
  .link_btn:hover .link__cap {
    color: inherit; }
  .link_btn:active .link__cap {
    color: inherit; }
  .link_btn[data-disabled] {
    border-color: #e6e6e6;
    background-color: #fafafa; }
  .link_btn[data-load] .icon-load {
    width: 20px;
    height: 20px;
    border-width: 2px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    box-shadow: 0 0 30px 10px #ffffff; }
  .link_btn_fluid {
    width: 100%; }
  .link_btn_size_sm {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.875rem;
    height: 1.875rem; }
  .link_btn_size_sm .link__cap {
    line-height: -0.125rem; }
  .link_btn_size_lg {
    padding-left: 30px;
    padding-right: 30px;
    height: 3.25rem;
    line-height: 1.25rem; }
  .link_btn_size_lg .link__cap {
    line-height: 1.25rem; }
  .link_btn_color_primary {
    color: #ffffff;
    background-color: #009688;
    border-color: #009688; }
    .link_btn_color_primary:focus, .link_btn_color_primary:hover {
      color: #ffffff;
      background-color: #00897B;
      border-color: #00897B; }
    .link_btn_color_primary:active {
      color: #ffffff;
      background-color: #00796B;
      border-color: #00796B; }
    .link_btn_color_primary[disabled], .link_btn_color_primary[data-disabled] {
      color: #ffffff;
      background-color: #009688;
      border-color: #009688; }
  .link_btn_color_primary .link__icon {
    fill: #ffffff; }
  .link_btn_color_green {
    color: #ffffff;
    background-color: #7CB342;
    border-color: #7CB342; }
    .link_btn_color_green:focus, .link_btn_color_green:hover {
      color: #ffffff;
      background-color: #689F38;
      border-color: #689F38; }
    .link_btn_color_green:active {
      color: #ffffff;
      background-color: #558B2F;
      border-color: #558B2F; }
    .link_btn_color_green[disabled], .link_btn_color_green[data-disabled] {
      color: #ffffff;
      background-color: #7CB342;
      border-color: #7CB342; }
  .link_btn_color_green .link__icon {
    fill: #ffffff; }
  .link_btn_color_white {
    color: #009688;
    background-color: #ffffff;
    border-color: #ffffff; }
    .link_btn_color_white:focus, .link_btn_color_white:hover {
      color: #009688;
      background-color: #fafafa;
      border-color: #fafafa; }
    .link_btn_color_white:active {
      color: #009688;
      background-color: #f5f5f5;
      border-color: #f5f5f5; }
    .link_btn_color_white[disabled], .link_btn_color_white[data-disabled] {
      color: #009688;
      background-color: #ffffff;
      border-color: #ffffff; }
  .link_btn_color_white .link__icon {
    fill: #009688; }
  .link[data-disabled] {
    cursor: not-allowed !important;
    opacity: .6 !important; }
    .link[data-disabled] * {
      pointer-events: none !important; }

/*# sourceMappingURL=link.css.map */
