@import "../common/vars";

.link {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: inherit;
  font: inherit;
  white-space: normal;
  outline: none;
  border-radius: 0;
  color: $blue-700;
  border: solid 0 transparentize($blue-700, .7);
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: color .15s, border-color .15s;
  transition: color .15s, border-color .15s;
  cursor: pointer;

  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    min-height: $lh-nl;
    height: 100%;
    margin-right: $p-xxs;
    fill: $gray-900;
    pointer-events: none;
  }
  &__icon:last-child {
    margin-right: 0;
  }
  &__svg {
    position: absolute;
    top: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 16px;
  }
  &__cap {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    border-bottom-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
    pointer-events: none;
  }
  &:focus {
    outline: dotted 1px transparentize($blue-800, .25);
    outline-offset: 3px;
  }
  &:hover {
    color: $blue-800;
    border-color: transparentize($blue-800, .7);
  }
  &:active {
    color: $blue-900;
    border-color: transparentize($blue-900, .7);
  }
  &[data-disabled] {
    outline: none;
  }
  &_local {
    border-bottom-style: dashed;
  }
  &_muted {
    color: $gray-800;
    border-color: transparentize($gray-800, .7);
  }
  &_m,
  &_multiline {
    display: inline;
    border-bottom-width: 1px;
  }
  &_m &__icon,
  &_multiline &__icon {
    display: none;
  }
  &_m &__cap,
  &_multiline &__cap {
    display: none;
  }
  &_btn {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    height: $field-nl;
    line-height: $field-nl - 2;
    margin: 0;
    padding: 0 $p-xs;
    white-space: nowrap;
    font: inherit;
    text-align: center;
    color: $gray-900;
    border: solid 1px $gray-300;
    background-color: $gray-50;
    border-radius: $rad;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .15s, border-color .15s, background-color .15s;
    transition: color .15s, border-color .15s, background-color .15s;
    @media (min-width: $md) {
      padding-left: $p-sm;
      padding-right: $p-sm;
    }
  }
  &_btn:focus {
    color: $gray-900;
    border-color: $teal-500;
    outline: none;
  }
  &_btn:hover {
    color: $gray-900;
    background-color: $gray-100;
    border-color: $gray-500;
  }
  &_btn:active {
    color: $gray-900;
    background-color: $gray-200;
    border-color: $gray-500;
  }
  &_btn &__cap {
    line-height: $field-nl - .125rem;
    color: inherit;
    border-color: transparent;
  }
  &_btn:hover &__cap {
    color: inherit;
  }
  &_btn:active &__cap {
    color: inherit;
  }
  &_btn[data-disabled] {
    border-color: $gray-300;
    background-color: $gray-50;
  }
  &_btn[data-load] {
    .icon-load {
      width: 20px;
      height: 20px;
      border-width: 2px;
      left: calc(50% - 10px);
      top: calc(50% - 10px);
      box-shadow: 0 0 30px 10px $gray-0;
    }
  }
  &_btn_fluid {
    width: 100%;
  }
  &_btn_size_sm {
    padding-left: $p-sm - 3;
    padding-right: $p-sm - 3;
    font-size: $fs-sm;
    height: $field-sm;
  }
  &_btn_size_sm &__cap {
    line-height: $field-sm - 2;
  }
  &_btn_size_lg {
    padding-left: $p-md;
    padding-right: $p-md;
    height: $field-lg;
    line-height: $field-lg - 2;
  }
  &_btn_size_lg &__cap {
    line-height: $field-lg - 2;
  }
  &_btn_color_primary {
    color: $gray-0;
    background-color: $teal-500;
    border-color: $teal-500;

    &:focus, &:hover {
      color: $gray-0;
      background-color: $teal-600;
      border-color: $teal-600;
    }
    &:active {
      color: $gray-0;
      background-color: $teal-700;
      border-color: $teal-700;
    }
    &[disabled], &[data-disabled] {
      color: $gray-0;
      background-color: $teal-500;
      border-color: $teal-500;
    }
  }
  &_btn_color_primary &__icon {
    fill: $gray-0;
  }
  &_btn_color_green {
    color: $gray-0;
    background-color: $light-green-600;
    border-color: $light-green-600;

    &:focus, &:hover {
      color: $gray-0;
      background-color: $light-green-700;
      border-color: $light-green-700;
    }
    &:active {
      color: $gray-0;
      background-color: $light-green-800;
      border-color: $light-green-800;
    }
    &[disabled], &[data-disabled] {
      color: $gray-0;
      background-color: $light-green-600;
      border-color: $light-green-600;
    }
  }
  &_btn_color_green &__icon {
    fill: $gray-0;
  }
  &_btn_color_white {
    color: $teal-500;
    background-color: $gray-0;
    border-color: $gray-0;

    &:focus, &:hover {
      color: $teal-500;
      background-color: $gray-50;
      border-color: $gray-50;
    }
    &:active {
      color: $teal-500;
      background-color: $gray-100;
      border-color: $gray-100;
    }
    &[disabled], &[data-disabled] {
      color: $teal-500;
      background-color: $gray-0;
      border-color: $gray-0;
    }
  }
  &_btn_color_white &__icon {
    fill: $teal-500;
  }
  &[data-disabled] {
    @include disable;
  }
}