@import "../common/vars";

.radio-block {
  position: relative;
  display: inline-block;
  min-height: $field-nl;
  width: 100%;

  &__wrp {
    @include flex($ai: flex-start);
    margin-bottom: $p-sm;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__field {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  &__icon {
    @include flex-shrink(0);
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px 0;
    text-align: center;
    border: solid 2px $gray-300;
    background-color: transparent;
    fill: $gray-0;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transition: background-color .15s, border-color .15s;
    transition: background-color .15s, border-color .15s;
  }
  &__dot {
    position: absolute;
    display: block;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: $teal-500;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
  }
  &__cap {
    margin-left: $p-xs;
    line-height: $lh-nl;
  }
  &__wrp:hover &__icon {
    border-color: $gray-500;
  }
  &__field.field_is-error + &__icon {
    outline: solid 1px $red-500;
    outline-offset: 3px;
    background-color: $red-50;
  }
  &__field:focus + &__icon {
    outline: dotted 1px transparentize($gray-900, .25);
    outline-offset: 3px;
  }
  &__field:checked + &__icon {
    border-color: $teal-500;
  }
  &__field:checked + &__icon &__dot {
    opacity: 1;
  }
  &__field:checked:focus + &__icon {
    border-color: $teal-600;
  }
}