.radio-block {
  position: relative;
  display: inline-block;
  min-height: 2.5rem;
  width: 100%; }
  .radio-block__wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    margin-bottom: 15px;
    cursor: pointer; }
    .radio-block__wrp:last-child {
      margin-bottom: 0; }
  .radio-block__field {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none; }
  .radio-block__icon {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px 0;
    text-align: center;
    border: solid 2px #e6e6e6;
    background-color: transparent;
    fill: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transition: background-color .15s, border-color .15s;
    transition: background-color .15s, border-color .15s; }
  .radio-block__dot {
    position: absolute;
    display: block;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: #009688;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s; }
  .radio-block__cap {
    margin-left: 10px;
    line-height: 1.375rem; }
  .radio-block__wrp:hover .radio-block__icon {
    border-color: #bbbbbb; }
  .radio-block__field.field_is-error + .radio-block__icon {
    outline: solid 1px #F44336;
    outline-offset: 3px;
    background-color: #ffebee; }
  .radio-block__field:focus + .radio-block__icon {
    outline: dotted 1px rgba(51, 51, 51, 0.75);
    outline-offset: 3px; }
  .radio-block__field:checked + .radio-block__icon {
    border-color: #009688; }
  .radio-block__field:checked + .radio-block__icon .radio-block__dot {
    opacity: 1; }
  .radio-block__field:checked:focus + .radio-block__icon {
    border-color: #00897B; }

/*# sourceMappingURL=radio-block.css.map */
