<div class="radio-block">
	<label class="radio-block__wrp">
		<input class="radio-block__field" type="radio" checked name="<NAME>" value="" />
		<i class="radio-block__icon">
			<span class="radio-block__dot"></span>
		</i>
		<span class="radio-block__cap">Лорем ипсум и компания</span>
	</label>
</div>