@import "../common/vars";

.login {
  @include flex($jc: center);
  width: 100%;
  min-height: 100vh;

  &__island {
    max-width: 28rem;
  }
  &__logo {
    display: block;
    height: 1.5rem;
    border: 0;
    padding: $o-hg 0 0;
    margin: 0 auto;
    text-decoration: none;
  }
  &__logo-svg {
    display: block;
    width: auto;
    pointer-events: none;
    fill: #636363;
  }
  &__desc {
    padding: 0 0 $o-md;
    margin: $o-sm 0 0;
    text-align: center;
  }
  &__form {}
  &__incorrect {
    padding: 0;
    margin: $o-sm 0;
    color: $red-500;
  }
  &__item {
    margin-top: $o-md;
  }
  &__item:first-child {
    margin-top: 0;
  }
}