.login {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  width: 100%;
  min-height: 100vh; }
  .login__island {
    max-width: 28rem; }
  .login__logo {
    display: block;
    height: 1.5rem;
    border: 0;
    padding: 4rem 0 0;
    margin: 0 auto;
    text-decoration: none; }
  .login__logo-svg {
    display: block;
    width: auto;
    pointer-events: none;
    fill: #636363; }
  .login__desc {
    padding: 0 0 2rem;
    margin: 1rem 0 0;
    text-align: center; }
  .login__incorrect {
    padding: 0;
    margin: 1rem 0;
    color: #F44336; }
  .login__item {
    margin-top: 2rem; }
  .login__item:first-child {
    margin-top: 0; }

/*# sourceMappingURL=login.css.map */
