<div class="calendar-block">
	<input class="field calendar-block__native-field" type="date" name="<NAME>" placeholder="" tabindex="-1" />
	<input class="field calendar-block__field" type="text" placeholder="Поле даты" />
	<button class="btn calendar-block__btn" type="button">
		<i class="btn__icon">
			<svg class="btn__svg" viewBox="0 0 13.71 13.71" xmlns="http://www.w3.org/2000/svg"><g fill="inherit"><rect x="-2.34" y="6.35" width="18.38" height="1" transform="translate(6.85 -2.84) rotate(45)"></rect><rect x="-2.34" y="6.35" width="18.38" height="1" transform="translate(-2.84 6.85) rotate(-45)"></rect></g></svg>
		</i>
	</button>
</div>