@import "../common/vars";

.calendar-block {
  position: relative;
  width: 100%;

  &__native-field {
    display: none;
  }
  &__field {
    padding-right: 16 + 2*$p-sm;
  }
  &__native-field.field_is-error + &__field {
    border-color: $red-500;
    background-color: $red-50;
  }
  &__btn {
    position: absolute;
    right: $p-sm;
    top: calc(50% - 8px);
    height: 16px;
    line-height: 16px;
    border: 0;
    background: transparent;
    padding: 0;

    &:focus {
      background: transparent;
      outline: dotted 1px transparentize($gray-900, .25);
      outline-offset: 3px;
    }
    &:hover,
    &:active {
      background: transparent;
    }
  }
}