.calendar-block {
  position: relative;
  width: 100%; }
  .calendar-block__native-field {
    display: none; }
  .calendar-block__field {
    padding-right: 46px; }
  .calendar-block__native-field.field_is-error + .calendar-block__field {
    border-color: #F44336;
    background-color: #ffebee; }
  .calendar-block__btn {
    position: absolute;
    right: 15px;
    top: calc(50% - 8px);
    height: 16px;
    line-height: 16px;
    border: 0;
    background: transparent;
    padding: 0; }
    .calendar-block__btn:focus {
      background: transparent;
      outline: dotted 1px rgba(51, 51, 51, 0.75);
      outline-offset: 3px; }
    .calendar-block__btn:hover, .calendar-block__btn:active {
      background: transparent; }

/*# sourceMappingURL=calendar-block.css.map */
