@import "../common/vars";

.stats {
  &__wrp {
    @include flex($ai: stretch, $jc: space-between);
  }
  &__island {
    width: calc((100% - #{3*$o-md})/4);
    min-width: 16rem;
    margin-right: $o-md;
    padding-left: $o-sm;
    padding-right: $o-sm;
    text-align: center;
  }
  &__island:last-child {
    margin-right: 0;
  }
  &__value {
    padding: 0;
    margin: 0;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    color: $teal-600;
  }
  &__desc {
    padding: 0;
    margin: $o-sm 0 0;
    font-size: $fs-md;
    line-height: $lh-md;
  }
}