.stats__wrp {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start; }
.stats__island {
  width: calc((100% - 6rem)/4);
  min-width: 16rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center; }
.stats__island:last-child {
  margin-right: 0; }
.stats__value {
  padding: 0;
  margin: 0;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  color: #00897B; }
.stats__desc {
  padding: 0;
  margin: 1rem 0 0;
  font-size: 1.25rem;
  line-height: 1.625rem; }

/*# sourceMappingURL=stats.css.map */
