@import "../common/vars";

.table {
  @include custom-scroll-bar($width: $p-xs, $color: $blue-gray-500);
  overflow-x: auto;
  white-space: nowrap;
  will-change: scroll-position;
  @media (min-width: $md) {
    overflow: visible;
    white-space: normal;
  }

  &__wrp {
    display: table;
    width: 100%;
    will-change: scroll-position;
  }
  &__r {
    display: table-row;
  }
  &__head {
    /*color: $gray-800;*/
  }
  &__h {
    display: table-cell;
    vertical-align: middle;
  }
  &__c {
    display: table-cell;
    padding: $o-xs;
    vertical-align: middle;
  }
}