.table {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: nowrap;
  will-change: scroll-position; }
  .table::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  .table::-webkit-scrollbar-track {
    background: transparent; }
  .table::-webkit-scrollbar-thumb {
    background-color: #607d8b; }
  @media (min-width: 62rem) {
    .table {
      overflow: visible;
      white-space: normal; } }
  .table__wrp {
    display: table;
    width: 100%;
    will-change: scroll-position; }
  .table__r {
    display: table-row; }
  .table__head {
    /*color: $gray-800;*/ }
  .table__h {
    display: table-cell;
    vertical-align: middle; }
  .table__c {
    display: table-cell;
    padding: 0.5rem;
    vertical-align: middle; }

/*# sourceMappingURL=table.css.map */
