<div class="table">
	<div class="table__wrp">
		<div class="table__r">
			<div class="table__c">Бетон M100, 20&nbsp;м³</div>
			<div class="table__c table__c_bold table__c_right">46 &nbsp;840&nbsp;₽</div>
		</div>
		<div class="table__r">
			<div class="table__c">Доставка</div>
			<div class="table__c table__c_bold table__c_right">≈ 8 000&nbsp;₽</div>
		</div>
		<div class="table__r">
			<div class="table__c table__c_bold">Итого</div>
			<div class="table__c table__c_bold table__c_right">≈ 54&nbsp; 840&nbsp;₽</div>
		</div>
	</div>
</div>