.modal {
  position: relative;
  display: block;
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box; }
  @media (min-width: 48rem) {
    .modal {
      width: 380px;
      min-height: 0;
      border-top: solid 3px #009688;
      border-radius: 2px;
      box-shadow: 0 2px 100px 0 rgba(0, 0, 0, 0.1); } }
  .modal__close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 16px;
    height: 1.625rem;
    padding: 0;
    border: 0;
    background: transparent;
    stroke: #777777;
    stroke-width: 2px;
    z-index: 1; }
    @media (min-width: 62rem) {
      .modal__close-btn {
        right: -36px;
        top: 0;
        stroke: #ffffff; } }
  .modal__close-btn:focus {
    background: transparent;
    outline: dotted 1px rgba(255, 255, 255, 0.75);
    outline-offset: 3px; }
  .modal__close-btn:hover {
    background: transparent; }
  .modal__close-btn:active {
    background: transparent;
    opacity: .7; }
  @media (min-width: 48rem) {
    .modal_size_middle {
      width: calc(100vw - 30px);
      max-width: 760px; } }
  @media (min-width: 48rem) {
    .modal_size_big {
      width: calc(100vw - 30px);
      max-width: 1280px; } }
  .modal_size_big .modal__close-btn {
    right: 15px;
    top: 15px;
    stroke: #777777; }
    @media (min-width: 88rem) {
      .modal_size_big .modal__close-btn {
        right: -36px;
        top: 0;
        stroke: #ffffff; } }
  @media (min-width: 48rem) {
    .modal_size_full {
      width: calc(100vw - 120px); } }

/*# sourceMappingURL=modal.css.map */
