@import "../common/vars";

.modal {
  position: relative;
  display: block;
  width: 100%;
  min-width: $xs;
  min-height: 100vh;
  background-color: $gray-0;
  outline: none;
  box-sizing: border-box;
  @media (min-width: $sm) {
    width: 380px;
    min-height: 0;
    border-top: solid 3px $teal-500;
    border-radius: $rad;
    box-shadow: 0 2px 100px 0 rgba(0, 0, 0, 0.1);
  }

  &__close-btn {
    position: absolute;
    right: $p-sm;
    top: $p-sm;
    width: 16px;
    height: $lh-md;
    padding: 0;
    border: 0;
    background: transparent;
    stroke: $gray-800;
    stroke-width: 2px;
    z-index: 1;
    @media (min-width: $md) {
      right: -36px;
      top: 0;
      stroke: $gray-0;
    }
  }
  &__close-btn:focus {
    background: transparent;
    outline: dotted 1px transparentize($gray-0, .25);
    outline-offset: 3px;
  }
  &__close-btn:hover {
    background: transparent;
  }
  &__close-btn:active {
    background: transparent;
    opacity: .7;
  }
  &_size_middle {
    @media (min-width: $sm) {
      width: calc(100vw - #{2*$p-sm});
      max-width: 760px;
    }
  }
  &_size_big {
    @media (min-width: $sm) {
      width: calc(100vw - #{2*$p-sm});
      max-width: 1280px;
    }
  }
  &_size_big &__close-btn {
    right: $p-sm;
    top: $p-sm;
    stroke: $gray-800;
    @media (min-width: $hg) {
      right: -36px;
      top: 0;
      stroke: $gray-0;
    }
  }
  &_size_full {
    @media (min-width: $sm) {
      width: calc(100vw - #{2*$p-hg});
    }
  }
}