.workers__island {
  margin-top: 2rem; }
.workers__island:first-child {
  margin-top: 0; }
.workers__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none; }
.workers__item {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
  box-sizing: border-box; }
.workers__item:first-child {
  margin-top: 0; }
.workers__image {
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  width: auto;
  height: 7rem;
  margin-right: 3rem; }
.workers__name {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  width: 60%;
  padding: 0;
  margin: 0 2rem 0 0;
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #00796B; }
.workers__spec {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  width: 30%;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-align: center; }

/*# sourceMappingURL=workers.css.map */
