@import "../common/vars";

.workers {
  &__island {
    margin-top: $o-md;
  }
  &__island:first-child {
    margin-top: 0;
  }
  &__list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    @include flex();
    width: 100%;
    padding: 0 $o-sm;
    margin-top: $o-sm;
    box-sizing: border-box;
  }
  &__item:first-child {
    margin-top: 0;
  }
  &__image {
    @include flex-shrink(0);
    display: block;
    width: auto;
    height: 7rem;
    margin-right: $o-lg;
  }
  &__name {
    @include flex-grow(1);
    width: 60%;
    padding: 0;
    margin: 0 $o-md 0 0;
    font-size: $fs-hg;
    line-height: $lh-hg;
    font-weight: 700;
    text-transform: uppercase;
    color: $teal-700;
  }
  &__spec {
    @include flex-grow(1);
    width: 30%;
    padding: 0;
    margin: 0;
    font-size: $fs-md;
    line-height: $lh-md;
    text-align: center;
  }
}