.field-block__cap {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.375rem; }
.field-block__grp {
  margin-top: 5px; }
.field-block__errors {
  display: none;
  margin-top: 5px;
  color: #E53935; }
.field-block__desc {
  font-size: 0.75rem;
  line-height: 1.125rem;
  padding: 0;
  margin: 5px 0 0;
  color: #777777; }
@media (min-width: 48rem) {
  .field-block_inline {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; } }
@media (min-width: 48rem) {
  .field-block_inline .field-block__cap {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-top: 0.5625rem;
    width: 190px;
    padding-right: 15px;
    box-sizing: border-box;
    line-height: 1.375rem; } }
.field-block_inline .field-block__grp {
  width: 100%;
  margin-top: 0; }
.field-block[data-errors] .field-block__grp {
  border-color: #E53935; }
.field-block[data-errors] .field-block__errors {
  display: block; }

/*# sourceMappingURL=field-block.css.map */
