@import "../common/vars";

.field-block {
  &__cap {
    display: block;
    padding: 0;
    margin: 0;
    line-height: $lh-nl;
  }
  &__grp {
    margin-top: $p-xxs;
  }
  &__errors {
    display: none;
    margin-top: $p-xxs;
    color: $red-600;
  }
  &__desc {
    font-size: $fs-xs;
    line-height: $lh-xs;
    padding: 0;
    margin: $p-xxs 0 0;
    color: $gray-800;
  }
  &_inline {
    @media (min-width: $sm) {
      @include flex($ai: flex-start);
    }
  }
  &_inline &__cap {
    @media (min-width: $sm) {
      @include flex-shrink(0);
      margin-top: $field-nl/2 - $lh-nl/2;
      width: 190px;
      padding-right: $p-sm;
      box-sizing: border-box;
      line-height: $lh-nl;
    }
  }
  &_inline &__grp {
    width: 100%;
    margin-top: 0;
  }
  &[data-errors] &__grp {
    border-color: $red-600;
  }
  &[data-errors] &__errors {
    display: block;
  }
}