@import "../common/vars";

.logo-link {
  display: block;
  height: 1.5rem;
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;

  &__svg {
    display: block;
    width: auto;
    pointer-events: none;
    fill: #636363;
    -webkit-transition: fill .15s;
    transition: fill .15s;
  }
  &:focus {
    outline: dotted 1px transparentize($gray-900, .25);
    outline-offset: 3px;
  }
  &:hover &__svg {
    fill: $teal-600;
  }
  &:active &__svg {
    fill: $teal-400;
  }
}