.logo-link {
  display: block;
  height: 1.5rem;
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none; }
  .logo-link__svg {
    display: block;
    width: auto;
    pointer-events: none;
    fill: #636363;
    -webkit-transition: fill .15s;
    transition: fill .15s; }
  .logo-link:focus {
    outline: dotted 1px rgba(51, 51, 51, 0.75);
    outline-offset: 3px; }
  .logo-link:hover .logo-link__svg {
    fill: #00897B; }
  .logo-link:active .logo-link__svg {
    fill: #26A69A; }

/*# sourceMappingURL=logo-link.css.map */
