<div class="breadcrumbs breadcrumbs_deep-level">
	<div class="fixed-block row">
		<div class="row__col-xs-12 row__col-sm-12 row__col-md-12 row__col-lg-12 row__col-hg-12">
			<div class="breadcrumbs__wrp">
				<a class="link breadcrumbs__link" href="javascript:void(0);">
					<span class="link__cap">Главная страница</span>
				</a>
				<span class="breadcrumbs__separator"> → </span>
				<a class="link breadcrumbs__link" href="javascript:void(0);">
					<span class="link__cap">Результаты поиска</span>
				</a>
				<span class="breadcrumbs__separator"> → </span>
				<p class="breadcrumbs__current">Сравнение компаний</p>
			</div>
		</div>
	</div>
</div>