<div class="checkbox-block">
	<label class="checkbox-block__wrp">
		<input class="checkbox-block__field" type="checkbox" name="<NAME>" value="" />
		<i class="checkbox-block__icon">
			<svg class="checkbox-block__svg" viewBox="0 0 13.96 10.45" xmlns="http://www.w3.org/2000/svg">
				<g fill="inherit">
					<polygon points="13.01 0 5.75 7.26 1.6 3.11 0 4.71 4.15 8.86 4.14 8.87 5.72 10.45 13.96 2.2 13.96 0.96 13.01 0"></polygon>
				</g>
			</svg>
		</i>
		<span class="checkbox-block__cap">Булево поле</span>
	</label>
</div>