@import "../common/vars";

.checkbox-block {
  position: relative;
  display: inline-block;
  min-height: $field-nl;
  width: 100%;

  &__wrp {
    @include flex($ai: flex-start);
    margin-bottom: $p-sm;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__field {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  &__icon {
    @include flex-shrink(0);
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px 0;
    text-align: center;
    border: solid 2px $gray-300;
    background-color: transparent;
    fill: $gray-0;
    border-radius: $rad;
    box-sizing: border-box;
    -webkit-transition: background-color .15s, border-color .15s;
    transition: background-color .15s, border-color .15s;
    pointer-events: none;
  }
  &__svg {
    display: block;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 4px);
    width: 10px;
    height: 8px;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
  }
  &__cap {
    margin-left: $p-xs;
    line-height: $lh-nl;
  }
  &__wrp:hover &__icon {
    border-color: $gray-500;
  }
  &__field:focus + &__icon {
    border-color: $teal-500;
  }
  &__field:checked + &__icon {
    border-color: $teal-500;
    background-color: $teal-500;
  }
  &__field:checked + &__icon &__svg {
    opacity: 1;
  }
  &__field:checked:focus + &__icon {
    outline: dotted 1px transparentize($gray-900, .25);
    outline-offset: 3px;
  }
  &__field[disabled] + &__icon {}
  &__wrp[data-disabled] {
    @include no-selection;
    cursor: not-allowed;
    opacity: .6;
  }
  &__wrp[data-disabled]:hover &__icon {
    border-color: $gray-300;
  }
}