.select-block {
  position: relative;
  width: 100%; }
  .select-block__label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1; }
  .select-block__field {
    display: block;
    width: 100%;
    height: 100%; }
  .select-block__btn {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    pointer-events: none; }
  .select-block.field_is-error .select-block__btn {
    border-color: #F44336;
    background-color: #ffebee; }
  .select-block__btn-cap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px; }
  .select-block__btn-icon {
    position: absolute;
    right: 12px;
    top: calc(50% - 4px);
    width: 14px;
    height: 8px;
    min-height: 0;
    stroke: #333333;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .15s;
    transition: transform .15s; }
  .select-block__btn-icon .btn__svg {
    display: block;
    width: 100%;
    height: 100%; }
  .select-block__list {
    -webkit-overflow-scrolling: touch;
    position: absolute;
    display: none;
    width: 100%;
    padding: 4px 0;
    max-height: 19.375rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa;
    border: solid 1px #009688;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-sizing: border-box;
    z-index: 1; }
    .select-block__list::-webkit-scrollbar {
      width: 4px;
      height: 4px; }
    .select-block__list::-webkit-scrollbar-track {
      background: transparent; }
    .select-block__list::-webkit-scrollbar-thumb {
      background-color: #607d8b; }
  .select-block.field_is-error .select-block__list {
    border-color: #F44336; }
  .select-block__option-btn {
    width: 100%;
    text-align: left;
    height: 1.875rem;
    line-height: -0.125rem;
    border: 0;
    border-radius: 0; }
    .select-block__option-btn:focus, .select-block__option-btn:hover {
      background-color: #009688;
      color: #ffffff; }
    .select-block__option-btn:active {
      background-color: #00897B;
      color: #ffffff; }
  .select-block__option-btn_selected, .select-block__option-btn_selected:focus, .select-block__option-btn_selected:hover {
    background-color: #f0f0f0;
    color: inherit;
    cursor: default; }
  .select-block[data-interacted] .select-block__btn {
    color: #333333; }
  .select-block[data-is-shown] .select-block__btn {
    background-color: #fafafa;
    border-color: #009688;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding-bottom: 1px; }
  .select-block.field_is-error[data-is-shown] .select-block__btn {
    background-color: #fafafa;
    border-color: #F44336; }
  .select-block[data-is-shown] .select-block__btn-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .select-block[data-is-shown] .select-block__list {
    display: block; }
  .select-block[data-is-shown][data-drop-up] .select-block__btn {
    background-color: #fafafa;
    border: solid 1px #009688;
    border-radius: 0 0 2px 2px;
    border-top-width: 0;
    padding-top: 1px;
    padding-bottom: 0; }
  .select-block[data-is-shown][data-drop-up] .select-block__list {
    bottom: 2.5rem;
    border-radius: 2px 2px 0 0;
    border: solid 1px #009688;
    border-bottom: 0; }
  .select-block[data-fixed-width] {
    display: inline-block;
    width: auto; }
  .select-block[data-fixed-width] .select-block__btn {
    width: 200px; }
  .select-block[data-fixed-width] .select-block__list {
    width: auto;
    right: 0;
    margin-top: -1px;
    border-top: solid 1px #009688;
    border-radius: 2px 0 2px 2px;
    z-index: 2; }
  .select-block[data-is-shown][data-fixed-width] .select-block__btn {
    border-bottom-color: transparent;
    border-radius: 2px 2px 0 0;
    z-index: 3; }
  .select-block[data-is-shown][data-fixed-width] .select-block__list {
    z-index: 2; }
  .select-block_desktop .select-block__label {
    display: none; }
  .select-block_desktop .select-block__btn {
    pointer-events: auto; }

/*# sourceMappingURL=select-block.css.map */
