<div class="select-block">
	<label class="select-block__label" tabindex="-1">
		<select class="select-block__field" name="<NAME>">
			<option value="product-1">Обычный список с выбором</option>
			<option value="product-2">Нечто ужасное</option>
			<option value="product-3">Бесполезный балласт</option>
			<option value="product-4">Кусок влажной фанеры</option>
			<option value="product-5">Шалом</option>
			<option value="product-6">Пункт, который умрёт первым</option>
			<option value="product-7">*пошлый анекдот*</option>
		</select>
	</label>
	<button class="btn select-block__btn" type="button">
		<span class="btn__cap select-block__btn-cap">Обычный список с выбором</span>
		<i class="btn__icon select-block__btn-icon">
			<svg class="btn__svg" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="inherit" stroke-width="1"><path d="M0,-1 L7,7 L14,-1"></path></g></svg>
		</i>
	</button>
</div>