@import "../common/vars";

.select-block {
  position: relative;
  width: 100%;

  &__label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  &__field {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__btn {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: $gray-0;
    pointer-events: none;
  }
  &.field_is-error &__btn {
    border-color: $red-500;
    background-color: $red-50;
  }
  &__btn-cap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
  }
  &__btn-icon {
    position: absolute;
    right: 12px;
    top: calc(50% - 4px);
    width: 14px;
    height: 8px;
    min-height: 0;
    stroke: $gray-900;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .15s;
    transition: transform .15s;
  }
  &__btn-icon .btn__svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__list {
    @include custom-scroll-bar($width: 4px, $color: $blue-gray-500);
    position: absolute;
    display: none;
    width: 100%;
    padding: 4px 0;
    max-height: 5*($field-sm) + 8 + 2;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $gray-50;
    border: solid 1px $teal-500;
    border-top: 0;
    border-bottom-left-radius: $rad;
    border-bottom-right-radius: $rad;
    box-sizing: border-box;
    z-index: 1;
  }
  &.field_is-error &__list {
    border-color: $red-500;
  }
  &__option-btn {
    width: 100%;
    text-align: left;
    height: $field-sm;
    line-height: $field-sm - 2;
    border: 0;
    border-radius: 0;

    &:focus, &:hover {
      background-color: $teal-500;
      color: $gray-0;
    }
    &:active {
      background-color: $teal-600;
      color: $gray-0;
    }
  }
  &__option-btn_selected,
  &__option-btn_selected:focus,
  &__option-btn_selected:hover {
    background-color: $gray-200;
    color: inherit;
    cursor: default;
  }
  &[data-interacted] &__btn {
    color: $gray-900;
  }
  &[data-is-shown] &__btn {
    background-color: $gray-50;
    border-color: $teal-500;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding-bottom: 1px;
  }
  &.field_is-error[data-is-shown] &__btn {
    background-color: $gray-50;
    border-color: $red-500;
  }
  &[data-is-shown] &__btn-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  &[data-is-shown] &__list {
    display: block;
  }
  &[data-is-shown][data-drop-up] &__btn {
    background-color: $gray-50;
    border: solid 1px $teal-500;
    border-radius: 0 0 $rad $rad;
    border-top-width: 0;
    padding-top: 1px;
    padding-bottom: 0;
  }
  &[data-is-shown][data-drop-up] &__list {
    bottom: $field-nl;
    border-radius: $rad $rad 0 0;
    border: solid 1px $teal-500;
    border-bottom: 0;
  }
  &[data-fixed-width] {
    display: inline-block;
    width: auto;
  }
  &[data-fixed-width] &__btn {
    width: 200px;
  }
  &[data-fixed-width] &__list {
    width: auto;
    right: 0;
    margin-top: -1px;
    border-top: solid 1px $teal-500;
    border-radius: $rad 0 $rad $rad;
    z-index: 2;
  }
  &[data-is-shown][data-fixed-width] &__btn {
    border-bottom-color: transparent;
    border-radius: $rad $rad 0 0;
    z-index: 3;
  }
  &[data-is-shown][data-fixed-width] &__list {
    z-index: 2;
  }
  &_desktop {}
  &_desktop &__label {
    display: none;
  }
  &_desktop &__btn {
    pointer-events: auto;
  }
}