.pagination__wrp {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start; }
.pagination__prev-link {
  stroke: #333333; }
.pagination__text {
  padding: 0 10px;
  margin: 0 0 0 15px;
  line-height: 2.5rem; }
  @media (min-width: 62rem) {
    .pagination__text {
      padding-left: 15px;
      padding-right: 15px; } }
.pagination__page-link {
  margin-left: 15px; }
.pagination__next-link {
  stroke: #333333;
  margin-left: 15px; }

/*# sourceMappingURL=pagination.css.map */
