@import "../common/vars";

.pagination {
  &__wrp {
    @include flex();
  }
  &__prev-link {
    stroke: $gray-900;
  }
  &__text {
    padding: 0 $p-xs;
    margin: 0 0 0 $p-sm;
    line-height: $field-nl;
    @media (min-width: $md) {
      padding-left: $p-sm;
      padding-right: $p-sm;
    }
  }
  &__page-link {
    margin-left: $p-sm;
  }
  &__next-link {
    stroke: $gray-900;
    margin-left: $p-sm;
  }
}