<!--block:html-head-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{- this['html-head'].title }}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.75, user-scalable=yes" />
	<link href="styles.css" rel="stylesheet"/>
</head>
<body class="page">
<!--end:html-head-->

<section class="page__wrp" id="page">
	<!--block:welcome-->
	<section class="welcome">
		<div class="fixed-block welcome__wrp">
			<img class="welcome__logo" src="graphics-jupiter.svg" alt="Радиозавод Юпитер" />
			<img class="welcome__tower" src="graphics-tower.svg" alt="Radio tower" />
			<div class="welcome__about">
				<p class="welcome__quote">"Мы поставляем лучшие радиодетали на рынок, используя современные технологии по самым низким ценам"</p>
				<p class="welcome__by">- Радиозавод "Юпитер"</p>
			</div>
		</div>
	</section>
	<!--end:welcome-->
	
	<main class="main">
		<!--block:stats-->
		<section class="stats">
			<div class="fixed-block stats__wrp">
				<div class="island stats__island">
					<p class="stats__value">250</p>
					<p class="stats__desc">надежных посредников по всей стране</p>
				</div>
				<div class="island stats__island">
					<p class="stats__value">617</p>
					<p class="stats__desc">отличных поставщиков, готовых к работе</p>
				</div>
				<div class="island stats__island">
					<p class="stats__value">10</p>
					<p class="stats__desc">видов продукции, которой мы гордимся</p>
				</div>
				<div class="island stats__island">
					<p class="stats__value">9000</p>
					<p class="stats__desc">довольных клиетов и радиолюбителей</p>
				</div>
			</div>
		</section>
		<!--end:stats-->
		
		<!--block:order-form-->
		<!--suppress HtmlUnknownTarget -->
		<form class="order-form" action="/shop/" method="post" autocomplete="off">
			<div class="fixed-block order-form__wrp">
				<p class="order-form__title">Оформление заказа</p>
				<div class="field-block field-block_inline order-form__block">
					<p class="field-block__cap order-form__cap">Выберите тип организации</p>
					<div class="field-block__grp">
						<div class="select-block order-type">
							<label class="select-block__label" tabindex="-1">
								<select class="field select-block__field" name="TYPE" tabindex="-1">
									<option value="company" selected>ООО</option>
									<option value="individual">ИП</option>
									<option value="e-shop">Физ. лицо</option>
								</select>
							</label>
							<button class="btn select-block__btn" type="button">
								<span class="btn__cap select-block__btn-cap">ООО</span>
								<i class="btn__icon select-block__btn-icon">
									<svg class="btn__svg" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" stroke="inherit" stroke-width="1">
											<path d="M0,-1 L7,7 L14,-1"></path>
										</g>
									</svg>
								</i>
							</button>
						</div>
					</div>
				</div>
				<div class="field-block field-block_inline order-form__block order-name-corp">
					<p class="field-block__cap order-form__cap">Наименование</p>
					<div class="field-block__grp">
						<input class="field" type="text" value="" name="NAME" placeholder="" />
					</div>
				</div>
				<div class="field-block field-block_inline order-form__block order-name-fio" style="display:none;">
					<p class="field-block__cap order-form__cap">Фамилия Имя Отчество</p>
					<div class="field-block__grp">
						<input class="field" type="text" disabled name="NAME" placeholder="" />
					</div>
				</div>
				<div class="field-block field-block_inline order-form__block">
					<p class="field-block__cap order-form__cap">Адрес</p>
					<div class="field-block__grp">
						<input class="field" type="text" value="" name="ADDRESS" placeholder="" />
					</div>
				</div>
				<div class="field-block field-block_inline order-form__block">
					<p class="field-block__cap order-form__cap">Контактные данные (e-mail)</p>
					<div class="field-block__grp">
						<input class="field" type="text" value="" name="CONTACTS" placeholder="" />
					</div>
				</div>
				<div class="order-form__bottom">
					<p class="order-form__bottom-title">Ваш заказ</p>
				</div>
				<ul class="order-form__list">
					{{for product in this['order-form'].production :}}
					<li class="order-form__item order-form__block">
						<div class="order-form__item-cell order-form__name-cell">{{-product.name}}</div>
						<div class="order-form__item-cell order-form__code-cell">"{{-product.nickname}}"</div>
						<div class="order-form__item-cell order-form__amount-cell">
							<div class="field-grp field-grp_amount">
								<p class="field-grp__postfix">шт.</p>
								<input class="field field-grp__field" type="tel" value="0" name="PURCHASED_ITEMS[{{-product.id}}]" placeholder="" autocomplete="off" />
							</div>
						</div>
					</li>
					{{end}}
				</ul>
				<div class="form-messages order-form__messages order-form__messages" data-type="" data-is-hidden>
					<p class="form-messages__msg" data-type="success" data-id="default">Изменения сохранены</p>
					<p class="form-messages__msg" data-type="error" data-id="default">Произошла ошибка</p>
					<p class="form-messages__msg" data-type="error" data-id="empty_fields">Все поля обязательны к заполнению</p>
					<p class="form-messages__msg" data-type="error" data-id="least_one_item">Должен быть заполнен хотя бы один продукт</p>
					<p class="form-messages__msg" data-type="error" data-id="no_more_400">Кол-во продукции не должно превышать 400</p>
					<p class="form-messages__msg" data-type="error" data-id="no_more_200">Кол-во продукции не должно превышать 200</p>
					<p class="form-messages__msg" data-type="error" data-id="no_more_20">Кол-во продукции не должно превышать 20</p>
				</div>
				<div class="order-form__actions">
					<p class="order-form__cost">Предварительная стоимость заказа: <span class="order-cost">0 руб.</span></p>
					<button class="btn btn_size_lg btn_color_green order-form__submit-btn" data-url="/shop/" data-params='{}' type="button">
						<span class="btn__cap">Отправить заявку</span>
					</button>
				</div>
			</div>
		</form>
		<!--end:order-form-->
		
	</main>
</section>
<!--block:html-foot-->
<script src="scripts.js"></script>
</body>
</html>
<!--end:html-foot-->
