/* Styles from block fixed-block */
.fixed-block {
  position: relative;
  width: 100%;
  min-width: 20rem;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (min-width: 62rem) {
    .fixed-block {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 75rem) {
    .fixed-block {
      width: 74rem; } }

/*# sourceMappingURL=fixed-block.css.map */

/******************************************/

/* Styles from block link */
.link {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: inherit;
  font: inherit;
  white-space: normal;
  outline: none;
  border-radius: 0;
  color: #1976D2;
  border: solid 0 rgba(25, 118, 210, 0.3);
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: color .15s, border-color .15s;
  transition: color .15s, border-color .15s;
  cursor: pointer; }
  .link__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    min-height: 1.375rem;
    height: 100%;
    margin-right: 5px;
    fill: #333333;
    pointer-events: none; }
  .link__icon:last-child {
    margin-right: 0; }
  .link__svg {
    position: absolute;
    top: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 16px; }
  .link__cap {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    border-bottom-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
    pointer-events: none; }
  .link:focus {
    outline: dotted 1px rgba(21, 101, 192, 0.75);
    outline-offset: 3px; }
  .link:hover {
    color: #1565C0;
    border-color: rgba(21, 101, 192, 0.3); }
  .link:active {
    color: #0D47A1;
    border-color: rgba(13, 71, 161, 0.3); }
  .link[data-disabled] {
    outline: none; }
  .link_local {
    border-bottom-style: dashed; }
  .link_muted {
    color: #777777;
    border-color: rgba(119, 119, 119, 0.3); }
  .link_m, .link_multiline {
    display: inline;
    border-bottom-width: 1px; }
  .link_m .link__icon, .link_multiline .link__icon {
    display: none; }
  .link_m .link__cap, .link_multiline .link__cap {
    display: none; }
  .link_btn {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    height: 2.5rem;
    line-height: 0.5rem;
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    font: inherit;
    text-align: center;
    color: #333333;
    border: solid 1px #e6e6e6;
    background-color: #fafafa;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .15s, border-color .15s, background-color .15s;
    transition: color .15s, border-color .15s, background-color .15s; }
    @media (min-width: 62rem) {
      .link_btn {
        padding-left: 15px;
        padding-right: 15px; } }
  .link_btn:focus {
    color: #333333;
    border-color: #009688;
    outline: none; }
  .link_btn:hover {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #bbbbbb; }
  .link_btn:active {
    color: #333333;
    background-color: #f0f0f0;
    border-color: #bbbbbb; }
  .link_btn .link__cap {
    line-height: 2.375rem;
    color: inherit;
    border-color: transparent; }
  .link_btn:hover .link__cap {
    color: inherit; }
  .link_btn:active .link__cap {
    color: inherit; }
  .link_btn[data-disabled] {
    border-color: #e6e6e6;
    background-color: #fafafa; }
  .link_btn[data-load] .icon-load {
    width: 20px;
    height: 20px;
    border-width: 2px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    box-shadow: 0 0 30px 10px #ffffff; }
  .link_btn_fluid {
    width: 100%; }
  .link_btn_size_sm {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.875rem;
    height: 1.875rem; }
  .link_btn_size_sm .link__cap {
    line-height: -0.125rem; }
  .link_btn_size_lg {
    padding-left: 30px;
    padding-right: 30px;
    height: 3.25rem;
    line-height: 1.25rem; }
  .link_btn_size_lg .link__cap {
    line-height: 1.25rem; }
  .link_btn_color_primary {
    color: #ffffff;
    background-color: #009688;
    border-color: #009688; }
    .link_btn_color_primary:focus, .link_btn_color_primary:hover {
      color: #ffffff;
      background-color: #00897B;
      border-color: #00897B; }
    .link_btn_color_primary:active {
      color: #ffffff;
      background-color: #00796B;
      border-color: #00796B; }
    .link_btn_color_primary[disabled], .link_btn_color_primary[data-disabled] {
      color: #ffffff;
      background-color: #009688;
      border-color: #009688; }
  .link_btn_color_primary .link__icon {
    fill: #ffffff; }
  .link_btn_color_green {
    color: #ffffff;
    background-color: #7CB342;
    border-color: #7CB342; }
    .link_btn_color_green:focus, .link_btn_color_green:hover {
      color: #ffffff;
      background-color: #689F38;
      border-color: #689F38; }
    .link_btn_color_green:active {
      color: #ffffff;
      background-color: #558B2F;
      border-color: #558B2F; }
    .link_btn_color_green[disabled], .link_btn_color_green[data-disabled] {
      color: #ffffff;
      background-color: #7CB342;
      border-color: #7CB342; }
  .link_btn_color_green .link__icon {
    fill: #ffffff; }
  .link_btn_color_white {
    color: #009688;
    background-color: #ffffff;
    border-color: #ffffff; }
    .link_btn_color_white:focus, .link_btn_color_white:hover {
      color: #009688;
      background-color: #fafafa;
      border-color: #fafafa; }
    .link_btn_color_white:active {
      color: #009688;
      background-color: #f5f5f5;
      border-color: #f5f5f5; }
    .link_btn_color_white[disabled], .link_btn_color_white[data-disabled] {
      color: #009688;
      background-color: #ffffff;
      border-color: #ffffff; }
  .link_btn_color_white .link__icon {
    fill: #009688; }
  .link[data-disabled] {
    cursor: not-allowed !important;
    opacity: .6 !important; }
    .link[data-disabled] * {
      pointer-events: none !important; }

/*# sourceMappingURL=link.css.map */

/******************************************/

/* Styles from block btn */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: 2.5rem;
  line-height: 0.5rem;
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  font: inherit;
  text-align: center;
  color: inherit;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .15s, border-color .15s, background-color .15s;
  transition: color .15s, border-color .15s, background-color .15s; }
  @media (min-width: 62rem) {
    .btn {
      padding-left: 15px;
      padding-right: 15px; } }
  .btn__icon {
    position: relative;
    display: inline-block;
    width: 16px;
    min-height: 16px;
    margin-right: 5px;
    fill: #333333;
    pointer-events: none; }
  .btn__icon:last-child {
    margin-right: 0; }
  .btn__icon:first-child:last-child {
    display: block; }
  .btn__cap {
    position: relative;
    display: inline-block;
    max-width: 100%;
    line-height: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    pointer-events: none;
    box-sizing: border-box; }
  .btn:focus {
    border-color: #009688;
    outline: none; }
  .btn:hover {
    background-color: #f5f5f5;
    border-color: #bbbbbb; }
  .btn:active {
    background-color: #f0f0f0;
    border-color: #bbbbbb; }
  .btn[disabled], .btn[data-disabled] {
    border-color: #e6e6e6;
    background-color: #fafafa; }
  .btn[data-load] .icon-load {
    width: 20px;
    height: 20px;
    border-width: 2px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    box-shadow: 0 0 30px 10px #ffffff; }
  .btn_fluid {
    width: 100%; }
  .btn_size_sm {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.875rem;
    height: 1.875rem;
    line-height: -0.125rem; }
  .btn_size_lg {
    padding-left: 30px;
    padding-right: 30px;
    height: 3.25rem;
    line-height: 1.25rem; }
  .btn_color_primary {
    color: #ffffff;
    background-color: #009688;
    border-color: #009688; }
    .btn_color_primary:focus, .btn_color_primary:hover {
      background-color: #00897B;
      border-color: #00897B; }
    .btn_color_primary:active {
      background-color: #00796B;
      border-color: #00796B; }
    .btn_color_primary[disabled], .btn_color_primary[data-disabled] {
      background-color: #009688;
      border-color: #009688; }
  .btn_color_primary .btn__icon {
    fill: #ffffff; }
  .btn_color_green {
    color: #ffffff;
    background-color: #7CB342;
    border-color: #7CB342; }
    .btn_color_green:focus, .btn_color_green:hover {
      background-color: #689F38;
      border-color: #689F38; }
    .btn_color_green:active {
      background-color: #558B2F;
      border-color: #558B2F; }
    .btn_color_green[disabled], .btn_color_green[data-disabled] {
      background-color: #7CB342;
      border-color: #7CB342; }
  .btn_color_green .btn__icon {
    fill: #ffffff; }
  .btn_color_blue-gray {
    color: #ffffff;
    background-color: #607d8b;
    border-color: #607d8b; }
    .btn_color_blue-gray:focus, .btn_color_blue-gray:hover {
      background-color: #546E7A;
      border-color: #546E7A; }
    .btn_color_blue-gray:active {
      background-color: #455A64;
      border-color: #455A64; }
    .btn_color_blue-gray[disabled], .btn_color_blue-gray[data-disabled] {
      background-color: #607d8b;
      border-color: #607d8b; }
  .btn_color_blue-gray .btn__icon {
    fill: #ffffff; }
  .btn_color_white {
    color: #009688;
    background-color: #ffffff;
    border-color: #ffffff; }
    .btn_color_white:focus, .btn_color_white:hover {
      background-color: #fafafa;
      border-color: #fafafa; }
    .btn_color_white:active {
      background-color: #f5f5f5;
      border-color: #f5f5f5; }
    .btn_color_white[disabled], .btn_color_white[data-disabled] {
      background-color: #ffffff;
      border-color: #ffffff; }
  .btn_color_white .btn__icon {
    fill: #009688; }
  .btn_special {
    color: #ffffff;
    background-color: #009688;
    border-color: #009688;
    padding-left: 0;
    text-align: left; }
    .btn_special:focus, .btn_special:hover {
      background-color: #00897B;
      border-color: #00897B; }
    .btn_special:active {
      background-color: #00796B;
      border-color: #00796B; }
    .btn_special[disabled], .btn_special[data-disabled] {
      background-color: #009688;
      border-color: #009688; }
  .btn_special .btn__icon {
    width: 48px;
    height: 100%;
    background-color: #00897B;
    fill: #ffffff;
    -webkit-transition: background-color .15s;
    transition: background-color .15s; }
    .btn_special .btn__icon:after {
      content: '';
      position: absolute;
      left: 48px;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border-top: solid 5px transparent;
      border-bottom: solid 5px transparent;
      border-left: solid 5px #00897B;
      -webkit-transition: border-color .15s;
      transition: border-color .15s; }
  .btn_special .btn__svg {
    position: relative;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    margin: 0 auto; }
  .btn_special:focus .btn__icon, .btn_special:hover .btn__icon, .btn_special:active .btn__icon {
    background-color: #00796B; }
    .btn_special:focus .btn__icon:after, .btn_special:hover .btn__icon:after, .btn_special:active .btn__icon:after {
      border-left-color: #00796B; }
  .btn_link {
    height: auto;
    padding: 0;
    text-align: left;
    line-height: 1.375rem;
    border-radius: 0;
    color: #1976D2;
    border: dashed 0 rgba(25, 118, 210, 0.3);
    background-color: transparent;
    -webkit-transition: color .15s, border-color .15s;
    transition: color .15s, border-color .15s; }
  .btn_link .btn__cap {
    display: inline-block;
    line-height: inherit;
    color: inherit;
    border-bottom-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 1px; }
  .btn_link:focus {
    outline: dotted 1px rgba(21, 101, 192, 0.75);
    outline-offset: 3px;
    background-color: transparent; }
  .btn_link:hover {
    color: #1565C0;
    border-color: rgba(21, 101, 192, 0.3);
    background-color: transparent; }
  .btn_link:active {
    color: #0D47A1;
    border-color: rgba(13, 71, 161, 0.3);
    background-color: transparent; }
  .btn_link_muted {
    color: #777777;
    border-color: rgba(119, 119, 119, 0.3); }
  .btn_link_color_black {
    color: #333333;
    border-color: rgba(51, 51, 51, 0.75); }
  .btn_link_color_black:hover {
    color: #333333;
    border-color: rgba(51, 51, 51, 0.75); }
  .btn_link_color_black:active {
    color: #000000;
    border-color: rgba(0, 0, 0, 0.75); }
  .btn[data-load] .load-icon {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    border-width: 2px;
    box-shadow: 0 0 60px 30px #ffffff; }
  .btn_size_sm[data-load] .load-icon {
    width: 16px;
    height: 16px;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    box-shadow: 0 0 8px 4px #ffffff; }
  .btn[disabled] {
    cursor: not-allowed !important;
    opacity: .6 !important; }
    .btn[disabled] * {
      pointer-events: none !important; }

/*# sourceMappingURL=btn.css.map */

/******************************************/

/* Styles from block field */
.field {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 10px;
  margin: 0;
  font: inherit;
  color: inherit;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background-color .15s, border-color .15s;
  transition: background-color .15s, border-color .15s; }
  .field ::-webkit-input-placeholder {
    color: #999999; }
  .field :-moz-placeholder {
    color: #999999; }
  .field ::-moz-placeholder {
    color: #999999; }
  .field :-ms-input-placeholder {
    color: #999999; }
  @media (min-width: 62rem) {
    .field {
      padding-left: 15px;
      padding-right: 15px; } }
  .field_text-area {
    line-height: 1.375rem;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px; }
  .field:hover {
    border-color: #bbbbbb; }
  .field:focus {
    border-color: #009688; }
  .field[disabled] {
    border-color: #e6e6e6; }
  .field_is-error {
    border-color: #F44336;
    background-color: #ffebee; }

/*# sourceMappingURL=field.css.map */

/******************************************/

/* Styles from block field-grp */
.field-grp {
  position: relative;
  width: 100%; }
  .field-grp__postfix {
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
    margin: 0;
    line-height: 2.5rem;
    color: #777777;
    pointer-events: none; }
    @media (min-width: 62rem) {
      .field-grp__postfix {
        right: 15px; } }
  .field-grp__prefix {
    position: absolute;
    top: 0;
    left: 10px;
    width: auto;
    margin: 0;
    line-height: 4.5rem;
    color: #333333;
    pointer-events: none; }
    @media (min-width: 62rem) {
      .field-grp__prefix {
        left: 15px; } }
  .field-grp_simple .field-grp__field {
    padding-right: 30px; }
    @media (min-width: 62rem) {
      .field-grp_simple .field-grp__field {
        padding-right: 35px; } }
  .field-grp_volume .field-grp__field {
    padding-right: 40px; }
    @media (min-width: 62rem) {
      .field-grp_volume .field-grp__field {
        padding-right: 45px; } }
  .field-grp_currency .field-grp__field {
    padding-right: 37px; }
    @media (min-width: 62rem) {
      .field-grp_currency .field-grp__field {
        padding-right: 42px; } }
  .field-grp_minutes .field-grp__field {
    padding-right: 70px; }
    @media (min-width: 62rem) {
      .field-grp_minutes .field-grp__field {
        padding-right: 75px; } }
  .field-grp_amount .field-grp__field {
    padding-right: 70px; }
    @media (min-width: 62rem) {
      .field-grp_amount .field-grp__field {
        padding-right: 75px; } }
  .field-grp_phone .field-grp__field {
    padding-left: 30px; }
    @media (min-width: 62rem) {
      .field-grp_phone .field-grp__field {
        padding-left: 35px; } }
  .field-grp_tonne .field-grp__field {
    padding-right: 55px; }
    @media (min-width: 62rem) {
      .field-grp_tonne .field-grp__field {
        padding-right: 60px; } }
  @media (min-width: 48rem) {
    .field-grp_inline {
      display: -webkit-flex;
      /*noinspection CssInvalidPropertyValue*/
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      min-height: 2.5rem; } }
  .field-grp_inline .field-grp__c {
    margin-top: 10px; }
    @media (min-width: 48rem) {
      .field-grp_inline .field-grp__c {
        margin-top: 0;
        margin-right: 10px; } }
  .field-grp_inline .field-grp__c:first-child {
    margin-top: 0; }
  .field-grp_inline .field-grp__c:last-child {
    margin-right: 0; }

/*# sourceMappingURL=field-grp.css.map */

/******************************************/

/* Styles from block select-block */
.select-block {
  position: relative;
  width: 100%; }
  .select-block__label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1; }
  .select-block__field {
    display: block;
    width: 100%;
    height: 100%; }
  .select-block__btn {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    pointer-events: none; }
  .select-block.field_is-error .select-block__btn {
    border-color: #F44336;
    background-color: #ffebee; }
  .select-block__btn-cap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px; }
  .select-block__btn-icon {
    position: absolute;
    right: 12px;
    top: calc(50% - 4px);
    width: 14px;
    height: 8px;
    min-height: 0;
    stroke: #333333;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .15s;
    transition: transform .15s; }
  .select-block__btn-icon .btn__svg {
    display: block;
    width: 100%;
    height: 100%; }
  .select-block__list {
    -webkit-overflow-scrolling: touch;
    position: absolute;
    display: none;
    width: 100%;
    padding: 4px 0;
    max-height: 19.375rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa;
    border: solid 1px #009688;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-sizing: border-box;
    z-index: 1; }
    .select-block__list::-webkit-scrollbar {
      width: 4px;
      height: 4px; }
    .select-block__list::-webkit-scrollbar-track {
      background: transparent; }
    .select-block__list::-webkit-scrollbar-thumb {
      background-color: #607d8b; }
  .select-block.field_is-error .select-block__list {
    border-color: #F44336; }
  .select-block__option-btn {
    width: 100%;
    text-align: left;
    height: 1.875rem;
    line-height: -0.125rem;
    border: 0;
    border-radius: 0; }
    .select-block__option-btn:focus, .select-block__option-btn:hover {
      background-color: #009688;
      color: #ffffff; }
    .select-block__option-btn:active {
      background-color: #00897B;
      color: #ffffff; }
  .select-block__option-btn_selected, .select-block__option-btn_selected:focus, .select-block__option-btn_selected:hover {
    background-color: #f0f0f0;
    color: inherit;
    cursor: default; }
  .select-block[data-interacted] .select-block__btn {
    color: #333333; }
  .select-block[data-is-shown] .select-block__btn {
    background-color: #fafafa;
    border-color: #009688;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding-bottom: 1px; }
  .select-block.field_is-error[data-is-shown] .select-block__btn {
    background-color: #fafafa;
    border-color: #F44336; }
  .select-block[data-is-shown] .select-block__btn-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .select-block[data-is-shown] .select-block__list {
    display: block; }
  .select-block[data-is-shown][data-drop-up] .select-block__btn {
    background-color: #fafafa;
    border: solid 1px #009688;
    border-radius: 0 0 2px 2px;
    border-top-width: 0;
    padding-top: 1px;
    padding-bottom: 0; }
  .select-block[data-is-shown][data-drop-up] .select-block__list {
    bottom: 2.5rem;
    border-radius: 2px 2px 0 0;
    border: solid 1px #009688;
    border-bottom: 0; }
  .select-block[data-fixed-width] {
    display: inline-block;
    width: auto; }
  .select-block[data-fixed-width] .select-block__btn {
    width: 200px; }
  .select-block[data-fixed-width] .select-block__list {
    width: auto;
    right: 0;
    margin-top: -1px;
    border-top: solid 1px #009688;
    border-radius: 2px 0 2px 2px;
    z-index: 2; }
  .select-block[data-is-shown][data-fixed-width] .select-block__btn {
    border-bottom-color: transparent;
    border-radius: 2px 2px 0 0;
    z-index: 3; }
  .select-block[data-is-shown][data-fixed-width] .select-block__list {
    z-index: 2; }
  .select-block_desktop .select-block__label {
    display: none; }
  .select-block_desktop .select-block__btn {
    pointer-events: auto; }

/*# sourceMappingURL=select-block.css.map */

/******************************************/

/* Styles from block island */
.island {
  position: relative;
  display: block;
  padding: 1rem 2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .island__header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px #eceff1; }
  .island__title {
    padding: 0;
    margin: 0;
    color: #607d8b;
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    font-weight: 500; }

/*# sourceMappingURL=island.css.map */

/******************************************/

/* Styles from block checkbox-block */
.checkbox-block {
  position: relative;
  display: inline-block;
  min-height: 2.5rem;
  width: 100%; }
  .checkbox-block__wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    margin-bottom: 15px;
    cursor: pointer; }
    .checkbox-block__wrp:last-child {
      margin-bottom: 0; }
  .checkbox-block__field {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none; }
  .checkbox-block__icon {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px 0;
    text-align: center;
    border: solid 2px #e6e6e6;
    background-color: transparent;
    fill: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-transition: background-color .15s, border-color .15s;
    transition: background-color .15s, border-color .15s;
    pointer-events: none; }
  .checkbox-block__svg {
    display: block;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 4px);
    width: 10px;
    height: 8px;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s; }
  .checkbox-block__cap {
    margin-left: 10px;
    line-height: 1.375rem; }
  .checkbox-block__wrp:hover .checkbox-block__icon {
    border-color: #bbbbbb; }
  .checkbox-block__field:focus + .checkbox-block__icon {
    border-color: #009688; }
  .checkbox-block__field:checked + .checkbox-block__icon {
    border-color: #009688;
    background-color: #009688; }
  .checkbox-block__field:checked + .checkbox-block__icon .checkbox-block__svg {
    opacity: 1; }
  .checkbox-block__field:checked:focus + .checkbox-block__icon {
    outline: dotted 1px rgba(51, 51, 51, 0.75);
    outline-offset: 3px; }
  .checkbox-block__wrp[data-disabled] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: not-allowed;
    opacity: .6; }
  .checkbox-block__wrp[data-disabled]:hover .checkbox-block__icon {
    border-color: #e6e6e6; }

/*# sourceMappingURL=checkbox-block.css.map */

/******************************************/

/* Styles from block radio-block */
.radio-block {
  position: relative;
  display: inline-block;
  min-height: 2.5rem;
  width: 100%; }
  .radio-block__wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    margin-bottom: 15px;
    cursor: pointer; }
    .radio-block__wrp:last-child {
      margin-bottom: 0; }
  .radio-block__field {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none; }
  .radio-block__icon {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px 0;
    text-align: center;
    border: solid 2px #e6e6e6;
    background-color: transparent;
    fill: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transition: background-color .15s, border-color .15s;
    transition: background-color .15s, border-color .15s; }
  .radio-block__dot {
    position: absolute;
    display: block;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: #009688;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s; }
  .radio-block__cap {
    margin-left: 10px;
    line-height: 1.375rem; }
  .radio-block__wrp:hover .radio-block__icon {
    border-color: #bbbbbb; }
  .radio-block__field.field_is-error + .radio-block__icon {
    outline: solid 1px #F44336;
    outline-offset: 3px;
    background-color: #ffebee; }
  .radio-block__field:focus + .radio-block__icon {
    outline: dotted 1px rgba(51, 51, 51, 0.75);
    outline-offset: 3px; }
  .radio-block__field:checked + .radio-block__icon {
    border-color: #009688; }
  .radio-block__field:checked + .radio-block__icon .radio-block__dot {
    opacity: 1; }
  .radio-block__field:checked:focus + .radio-block__icon {
    border-color: #00897B; }

/*# sourceMappingURL=radio-block.css.map */

/******************************************/

/* Styles from block modal-container */
.modal-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
  z-index: 10; }
  @media (min-width: 48rem) {
    .modal-container {
      min-height: 0; } }
  .modal-container__back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1; }
  .modal-container__wrp {
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    z-index: 2; }
    @media (min-width: 48rem) {
      .modal-container__wrp {
        display: -webkit-flex;
        /*noinspection CssInvalidPropertyValue*/
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-align-content: flex-start;
        -ms-align-content: flex-start;
        align-content: flex-start; } }
  .modal-container__cell {
    -webkit-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0);
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s; }
    @media (min-width: 48rem) {
      .modal-container__cell {
        padding: 30px; } }
  .modal-container[data-is-shown] {
    opacity: 1; }
  .modal-container[data-is-shown] .modal-container__cell {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); }

/*# sourceMappingURL=modal-container.css.map */

/******************************************/

/* Styles from block modal */
.modal {
  position: relative;
  display: block;
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box; }
  @media (min-width: 48rem) {
    .modal {
      width: 380px;
      min-height: 0;
      border-top: solid 3px #009688;
      border-radius: 2px;
      box-shadow: 0 2px 100px 0 rgba(0, 0, 0, 0.1); } }
  .modal__close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 16px;
    height: 1.625rem;
    padding: 0;
    border: 0;
    background: transparent;
    stroke: #777777;
    stroke-width: 2px;
    z-index: 1; }
    @media (min-width: 62rem) {
      .modal__close-btn {
        right: -36px;
        top: 0;
        stroke: #ffffff; } }
  .modal__close-btn:focus {
    background: transparent;
    outline: dotted 1px rgba(255, 255, 255, 0.75);
    outline-offset: 3px; }
  .modal__close-btn:hover {
    background: transparent; }
  .modal__close-btn:active {
    background: transparent;
    opacity: .7; }
  @media (min-width: 48rem) {
    .modal_size_middle {
      width: calc(100vw - 30px);
      max-width: 760px; } }
  @media (min-width: 48rem) {
    .modal_size_big {
      width: calc(100vw - 30px);
      max-width: 1280px; } }
  .modal_size_big .modal__close-btn {
    right: 15px;
    top: 15px;
    stroke: #777777; }
    @media (min-width: 88rem) {
      .modal_size_big .modal__close-btn {
        right: -36px;
        top: 0;
        stroke: #ffffff; } }
  @media (min-width: 48rem) {
    .modal_size_full {
      width: calc(100vw - 120px); } }

/*# sourceMappingURL=modal.css.map */

/******************************************/

/* Styles from block field-block */
.field-block__cap {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.375rem; }
.field-block__grp {
  margin-top: 5px; }
.field-block__errors {
  display: none;
  margin-top: 5px;
  color: #E53935; }
.field-block__desc {
  font-size: 0.75rem;
  line-height: 1.125rem;
  padding: 0;
  margin: 5px 0 0;
  color: #777777; }
@media (min-width: 48rem) {
  .field-block_inline {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; } }
@media (min-width: 48rem) {
  .field-block_inline .field-block__cap {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-top: 0.5625rem;
    width: 190px;
    padding-right: 15px;
    box-sizing: border-box;
    line-height: 1.375rem; } }
.field-block_inline .field-block__grp {
  width: 100%;
  margin-top: 0; }
.field-block[data-errors] .field-block__grp {
  border-color: #E53935; }
.field-block[data-errors] .field-block__errors {
  display: block; }

/*# sourceMappingURL=field-block.css.map */

/******************************************/

/* Styles from block form-modal */
.form-modal {
  font-weight: normal; }
  .form-modal__content {
    position: relative; }
  .form-modal__wrp {
    padding: 30px 0;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, opacity .3s; }
    @media (min-width: 48rem) {
      .form-modal__wrp {
        display: -webkit-flex;
        /*noinspection CssInvalidPropertyValue*/
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        align-items: stretch;
        -webkit-align-content: flex-start;
        -ms-align-content: flex-start;
        align-content: flex-start; } }
  .form-modal__information-side {
    width: 100%;
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .form-modal__information-wrp {
    text-align: center;
    padding: 30px;
    box-sizing: border-box; }
  .form-modal__icon {
    display: inline-block;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #009688; }
  .form-modal__svg {
    display: block;
    /*width: 40px;
    height: 40px;
    padding: 15px;*/
    fill: #ffffff;
    pointer-events: none; }
  .form-modal__title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding: 0;
    margin: 30px 0 0; }
  .form-modal__text {
    display: block;
    line-height: 1.375rem;
    padding: 0;
    margin: 5px 0 0;
    color: #777777; }
  .form-modal__company-name {
    color: #333333; }
  .form-modal__company-name:before {
    content: ' ';
    display: inline; }
  .form-modal__separator {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 1px;
    background-color: #e6e6e6; }
  .form-modal__form-side {
    display: block;
    padding: 30px;
    margin: 0;
    outline: none;
    border: 0;
    box-sizing: border-box; }
    @media (min-width: 48rem) {
      .form-modal__form-side {
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        width: 50%; } }
  .form-modal__item {
    margin-top: 15px; }
  .form-modal__item:first-child {
    margin-top: 0; }
  .form-modal__submit-wrp {
    margin-top: 30px; }
  .form-modal__messages {
    margin-top: 15px; }
  .form-modal__success {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(1.4) translateZ(0);
    transform: scale(1.4) translateZ(0);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, opacity .3s;
    pointer-events: none;
    z-index: -1;
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .form-modal__success-wrp {
    max-width: 360px;
    text-align: center; }
  .form-modal__success-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: #607d8b;
    border-radius: 50%; }
  .form-modal__success-icon-svg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box; }
  .form-modal__success-icon {
    background-color: #4caf50;
    fill: #ffffff; }
  .form-modal__success-title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding: 0;
    margin: 15px 0 0; }
  .form-modal__success-text {
    display: block;
    line-height: 1.375rem;
    padding: 0;
    margin: 5px 0 0;
    color: #777777; }
  .form-modal[data-state=success] .form-modal__wrp {
    opacity: 0;
    -webkit-transform: scale(0.8) translateZ(0);
    transform: scale(0.8) translateZ(0);
    pointer-events: none; }
  .form-modal[data-state=success] .form-modal__success {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    pointer-events: auto;
    z-index: 1; }

/*# sourceMappingURL=form-modal.css.map */

/******************************************/

/* Styles from block common */
.hidden-wrp {
  display: none !important; }

*[data-load] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  cursor: progress; }
  *[data-load] * {
    pointer-events: none; }
  *[data-load] .load-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 60px 20px #ffffff;
    background-color: #ffffff;
    border: solid 4px #009688;
    border-right-color: transparent;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    -webkit-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
    box-sizing: border-box;
    will-change: top;
    z-index: 11; }
  *[data-load]:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
html, body {
  height: 100%; }

.page {
  min-width: 66rem;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #333333;
  background-color: #f5f5f5; }

.main {
  padding: 2rem 0; }

/*# sourceMappingURL=common.css.map */

/******************************************/

/* Styles from block welcome */
.welcome {
  padding: 3rem 0;
  background-color: #fafafa;
  border-bottom: solid 1rem #546E7A; }
  .welcome__wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .welcome__logo {
    display: block;
    width: 420px;
    height: 160px; }
  .welcome__tower {
    display: block;
    width: 110px;
    height: 250px; }
  .welcome__about {
    max-width: 420px;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500;
    color: #546E7A; }
  .welcome__quote {
    padding: 0;
    margin: 0; }
  .welcome__by {
    padding: 0;
    margin: 0.5rem 0 0;
    text-align: right; }

/*# sourceMappingURL=welcome.css.map */

/******************************************/

/* Styles from block stats */
.stats__wrp {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start; }
.stats__island {
  width: calc((100% - 6rem)/4);
  min-width: 16rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center; }
.stats__island:last-child {
  margin-right: 0; }
.stats__value {
  padding: 0;
  margin: 0;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  color: #00897B; }
.stats__desc {
  padding: 0;
  margin: 1rem 0 0;
  font-size: 1.25rem;
  line-height: 1.625rem; }

/*# sourceMappingURL=stats.css.map */

/******************************************/

/* Styles from block form-messages */
.form-messages {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  color: #333333;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: padding .1s, opacity .15s;
  transition: padding .1s, opacity .15s;
  will-change: padding; }
  .form-messages__msg {
    padding: 0;
    margin: 0;
    line-height: 1.375rem;
    color: inherit; }
  .form-messages[data-type=error] {
    color: #F44336;
    border-color: #F44336;
    background-color: #ffebee; }
  .form-messages[data-type=success] {
    color: #4caf50;
    border-color: #4caf50;
    background-color: #e8f5e9; }
  .form-messages[data-is-hidden] {
    height: 0;
    margin-top: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    pointer-events: none; }

/*# sourceMappingURL=form-messages.css.map */

/******************************************/

/* Styles from block order-form */
.order-form {
  margin-top: 6rem; }
  .order-form__title {
    padding: 0 0 1rem;
    margin: 0 0 2rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500;
    border-bottom: solid 0.25rem #546E7A; }
  .order-form__bottom {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
    border-top: solid 0.25rem #546E7A; }
  .order-form__bottom-title {
    position: absolute;
    left: 0;
    bottom: -3rem;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500; }
  .order-form__cap {
    position: static;
    padding: 0;
    margin: 0;
    width: 30rem !important;
    font-size: 1.25rem;
    line-height: 1.625rem; }
  .order-form__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .order-form__item {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0; }
  .order-form__name-cell {
    width: 10rem;
    margin-right: 1rem; }
  .order-form__code-cell {
    width: 10rem;
    margin-right: 1rem; }
  .order-form__amount-cell {
    width: 100%;
    max-width: 10rem; }
  .order-form__actions {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 0.25rem #546E7A; }
  .order-form__cost {
    margin-right: 3rem;
    font-size: 1.25rem;
    line-height: 1.625rem; }
  .order-form__submit-btn {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0; }
  .order-form__messages {
    margin-top: 2rem; }
  .order-form__block {
    margin-top: 1rem; }
  .order-form__block:first-child {
    margin-top: 0; }

/*# sourceMappingURL=order-form.css.map */

/******************************************/

