@import "../common/vars";

.welcome {
  padding: $o-lg 0;
  background-color: $gray-50;
  border-bottom: solid 1rem $blue-gray-600;

  &__wrp {
    @include flex($jc: space-between);
  }
  &__logo {
    display: block;
    width: 420px;
    height: 160px;
  }
  &__tower {
    display: block;
    width: 110px;
    height: 250px;
  }
  &__about {
    max-width: 420px;
    font-size: $fs-lg;
    line-height: $lh-lg;
    font-weight: 500;
    color: $blue-gray-600;
  }
  &__quote {
    padding: 0;
    margin: 0;
  }
  &__by {
    padding: 0;
    margin: $o-xs 0 0;
    text-align: right;
  }
}