.welcome {
  padding: 3rem 0;
  background-color: #fafafa;
  border-bottom: solid 1rem #546E7A; }
  .welcome__wrp {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .welcome__logo {
    display: block;
    width: 420px;
    height: 160px; }
  .welcome__tower {
    display: block;
    width: 110px;
    height: 250px; }
  .welcome__about {
    max-width: 420px;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500;
    color: #546E7A; }
  .welcome__quote {
    padding: 0;
    margin: 0; }
  .welcome__by {
    padding: 0;
    margin: 0.5rem 0 0;
    text-align: right; }

/*# sourceMappingURL=welcome.css.map */
