.btn {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: 2.5rem;
  line-height: 0.5rem;
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  font: inherit;
  text-align: center;
  color: inherit;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .15s, border-color .15s, background-color .15s;
  transition: color .15s, border-color .15s, background-color .15s; }
  @media (min-width: 62rem) {
    .btn {
      padding-left: 15px;
      padding-right: 15px; } }
  .btn__icon {
    position: relative;
    display: inline-block;
    width: 16px;
    min-height: 16px;
    margin-right: 5px;
    fill: #333333;
    pointer-events: none; }
  .btn__icon:last-child {
    margin-right: 0; }
  .btn__icon:first-child:last-child {
    display: block; }
  .btn__cap {
    position: relative;
    display: inline-block;
    max-width: 100%;
    line-height: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    pointer-events: none;
    box-sizing: border-box; }
  .btn:focus {
    border-color: #009688;
    outline: none; }
  .btn:hover {
    background-color: #f5f5f5;
    border-color: #bbbbbb; }
  .btn:active {
    background-color: #f0f0f0;
    border-color: #bbbbbb; }
  .btn[disabled], .btn[data-disabled] {
    border-color: #e6e6e6;
    background-color: #fafafa; }
  .btn[data-load] .icon-load {
    width: 20px;
    height: 20px;
    border-width: 2px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    box-shadow: 0 0 30px 10px #ffffff; }
  .btn_fluid {
    width: 100%; }
  .btn_size_sm {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.875rem;
    height: 1.875rem;
    line-height: -0.125rem; }
  .btn_size_lg {
    padding-left: 30px;
    padding-right: 30px;
    height: 3.25rem;
    line-height: 1.25rem; }
  .btn_color_primary {
    color: #ffffff;
    background-color: #009688;
    border-color: #009688; }
    .btn_color_primary:focus, .btn_color_primary:hover {
      background-color: #00897B;
      border-color: #00897B; }
    .btn_color_primary:active {
      background-color: #00796B;
      border-color: #00796B; }
    .btn_color_primary[disabled], .btn_color_primary[data-disabled] {
      background-color: #009688;
      border-color: #009688; }
  .btn_color_primary .btn__icon {
    fill: #ffffff; }
  .btn_color_green {
    color: #ffffff;
    background-color: #7CB342;
    border-color: #7CB342; }
    .btn_color_green:focus, .btn_color_green:hover {
      background-color: #689F38;
      border-color: #689F38; }
    .btn_color_green:active {
      background-color: #558B2F;
      border-color: #558B2F; }
    .btn_color_green[disabled], .btn_color_green[data-disabled] {
      background-color: #7CB342;
      border-color: #7CB342; }
  .btn_color_green .btn__icon {
    fill: #ffffff; }
  .btn_color_blue-gray {
    color: #ffffff;
    background-color: #607d8b;
    border-color: #607d8b; }
    .btn_color_blue-gray:focus, .btn_color_blue-gray:hover {
      background-color: #546E7A;
      border-color: #546E7A; }
    .btn_color_blue-gray:active {
      background-color: #455A64;
      border-color: #455A64; }
    .btn_color_blue-gray[disabled], .btn_color_blue-gray[data-disabled] {
      background-color: #607d8b;
      border-color: #607d8b; }
  .btn_color_blue-gray .btn__icon {
    fill: #ffffff; }
  .btn_color_white {
    color: #009688;
    background-color: #ffffff;
    border-color: #ffffff; }
    .btn_color_white:focus, .btn_color_white:hover {
      background-color: #fafafa;
      border-color: #fafafa; }
    .btn_color_white:active {
      background-color: #f5f5f5;
      border-color: #f5f5f5; }
    .btn_color_white[disabled], .btn_color_white[data-disabled] {
      background-color: #ffffff;
      border-color: #ffffff; }
  .btn_color_white .btn__icon {
    fill: #009688; }
  .btn_special {
    color: #ffffff;
    background-color: #009688;
    border-color: #009688;
    padding-left: 0;
    text-align: left; }
    .btn_special:focus, .btn_special:hover {
      background-color: #00897B;
      border-color: #00897B; }
    .btn_special:active {
      background-color: #00796B;
      border-color: #00796B; }
    .btn_special[disabled], .btn_special[data-disabled] {
      background-color: #009688;
      border-color: #009688; }
  .btn_special .btn__icon {
    width: 48px;
    height: 100%;
    background-color: #00897B;
    fill: #ffffff;
    -webkit-transition: background-color .15s;
    transition: background-color .15s; }
    .btn_special .btn__icon:after {
      content: '';
      position: absolute;
      left: 48px;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border-top: solid 5px transparent;
      border-bottom: solid 5px transparent;
      border-left: solid 5px #00897B;
      -webkit-transition: border-color .15s;
      transition: border-color .15s; }
  .btn_special .btn__svg {
    position: relative;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    margin: 0 auto; }
  .btn_special:focus .btn__icon, .btn_special:hover .btn__icon, .btn_special:active .btn__icon {
    background-color: #00796B; }
    .btn_special:focus .btn__icon:after, .btn_special:hover .btn__icon:after, .btn_special:active .btn__icon:after {
      border-left-color: #00796B; }
  .btn_link {
    height: auto;
    padding: 0;
    text-align: left;
    line-height: 1.375rem;
    border-radius: 0;
    color: #1976D2;
    border: dashed 0 rgba(25, 118, 210, 0.3);
    background-color: transparent;
    -webkit-transition: color .15s, border-color .15s;
    transition: color .15s, border-color .15s; }
  .btn_link .btn__cap {
    display: inline-block;
    line-height: inherit;
    color: inherit;
    border-bottom-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 1px; }
  .btn_link:focus {
    outline: dotted 1px rgba(21, 101, 192, 0.75);
    outline-offset: 3px;
    background-color: transparent; }
  .btn_link:hover {
    color: #1565C0;
    border-color: rgba(21, 101, 192, 0.3);
    background-color: transparent; }
  .btn_link:active {
    color: #0D47A1;
    border-color: rgba(13, 71, 161, 0.3);
    background-color: transparent; }
  .btn_link_muted {
    color: #777777;
    border-color: rgba(119, 119, 119, 0.3); }
  .btn_link_color_black {
    color: #333333;
    border-color: rgba(51, 51, 51, 0.75); }
  .btn_link_color_black:hover {
    color: #333333;
    border-color: rgba(51, 51, 51, 0.75); }
  .btn_link_color_black:active {
    color: #000000;
    border-color: rgba(0, 0, 0, 0.75); }
  .btn[data-load] .load-icon {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    border-width: 2px;
    box-shadow: 0 0 60px 30px #ffffff; }
  .btn_size_sm[data-load] .load-icon {
    width: 16px;
    height: 16px;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    box-shadow: 0 0 8px 4px #ffffff; }
  .btn[disabled] {
    cursor: not-allowed !important;
    opacity: .6 !important; }
    .btn[disabled] * {
      pointer-events: none !important; }

/*# sourceMappingURL=btn.css.map */
