@import "../common/vars";

.btn {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: $field-nl;
  line-height: $field-nl - 2;
  margin: 0;
  padding: 0 $p-xs;
  white-space: nowrap;
  font: inherit;
  text-align: center;
  color: inherit;
  border: solid 1px $gray-300;
  background-color: $gray-50;
  border-radius: $rad;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .15s, border-color .15s, background-color .15s;
  transition: color .15s, border-color .15s, background-color .15s;
  @media (min-width: $md) {
    padding-left: $p-sm;
    padding-right: $p-sm;
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 16px;
    min-height: 16px;
    margin-right: $p-xxs;
    fill: $gray-900;
    pointer-events: none;
  }
  &__icon:last-child {
    margin-right: 0;
  }
  &__icon:first-child:last-child {
    display: block;
  }
  &__svg {}
  &__cap {
    position: relative;
    display: inline-block;
    max-width: 100%;
    line-height: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    pointer-events: none;
    box-sizing: border-box;
  }
  &:focus {
    border-color: $teal-500;
    outline: none;
  }
  &:hover {
    background-color: $gray-100;
    border-color: $gray-500;
  }
  &:active {
    background-color: $gray-200;
    border-color: $gray-500;
  }
  &[disabled], &[data-disabled] {
    border-color: $gray-300;
    background-color: $gray-50;
  }
  &[data-load] {
    .icon-load {
      width: 20px;
      height: 20px;
      border-width: 2px;
      left: calc(50% - 10px);
      top: calc(50% - 10px);
      box-shadow: 0 0 30px 10px $gray-0;
    }
  }
  &_fluid {
    width: 100%;
  }
  &_size_sm {
    padding-left: $p-sm - 3;
    padding-right: $p-sm - 3;
    font-size: $fs-sm;
    height: $field-sm;
    line-height: $field-sm - 2;
  }
  &_size_lg {
    padding-left: $p-md;
    padding-right: $p-md;
    height: $field-lg;
    line-height: $field-lg - 2;
  }
  &_color_primary {
    color: $gray-0;
    background-color: $teal-500;
    border-color: $teal-500;

    &:focus, &:hover {
      background-color: $teal-600;
      border-color: $teal-600;
    }
    &:active {
      background-color: $teal-700;
      border-color: $teal-700;
    }
    &[disabled], &[data-disabled] {
      background-color: $teal-500;
      border-color: $teal-500;
    }
  }
  &_color_primary &__icon {
    fill: $gray-0;
  }
  &_color_green {
    color: $gray-0;
    background-color: $light-green-600;
    border-color: $light-green-600;

    &:focus, &:hover {
      background-color: $light-green-700;
      border-color: $light-green-700;
    }
    &:active {
      background-color: $light-green-800;
      border-color: $light-green-800;
    }
    &[disabled], &[data-disabled] {
      background-color: $light-green-600;
      border-color: $light-green-600;
    }
  }
  &_color_green &__icon {
    fill: $gray-0;
  }
  &_color_blue-gray {
    color: $gray-0;
    background-color: $blue-gray-500;
    border-color: $blue-gray-500;

    &:focus, &:hover {
      background-color: $blue-gray-600;
      border-color: $blue-gray-600;
    }
    &:active {
      background-color: $blue-gray-700;
      border-color: $blue-gray-700;
    }
    &[disabled], &[data-disabled] {
      background-color: $blue-gray-500;
      border-color: $blue-gray-500;
    }
  }
  &_color_blue-gray &__icon {
    fill: $gray-0;
  }
  &_color_white {
    color: $teal-500;
    background-color: $gray-0;
    border-color: $gray-0;

    &:focus, &:hover {
      background-color: $gray-50;
      border-color: $gray-50;
    }
    &:active {
      background-color: $gray-100;
      border-color: $gray-100;
    }
    &[disabled], &[data-disabled] {
      background-color: $gray-0;
      border-color: $gray-0;
    }
  }
  &_color_white &__icon {
    fill: $teal-500;
  }
  &_special {
    color: $gray-0;
    background-color: $teal-500;
    border-color: $teal-500;
    padding-left: 0;
    text-align: left;

    &:focus, &:hover {
      background-color: $teal-600;
      border-color: $teal-600;
    }
    &:active {
      background-color: $teal-700;
      border-color: $teal-700;
    }
    &[disabled], &[data-disabled] {
      background-color: $teal-500;
      border-color: $teal-500;
    }
  }
  &_special &__icon {
    width: 48px;
    height: 100%;
    background-color: $teal-600;
    fill: $gray-0;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;

    &:after {
      content: '';
      position: absolute;
      left: 48px;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border-top: solid 5px transparent;
      border-bottom: solid 5px transparent;
      border-left: solid 5px $teal-600;
      -webkit-transition: border-color .15s;
      transition: border-color .15s;
    }
  }
  &_special &__svg {
    position: relative;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }
  &_special:focus &__icon,
  &_special:hover &__icon,
  &_special:active &__icon {
    background-color: $teal-700;
    &:after {
      border-left-color: $teal-700;
    }
  }
  &_link {
    height: auto;
    padding: 0;
    text-align: left;
    line-height: $lh-nl;
    border-radius: 0;
    color: $blue-700;
    border: dashed 0 transparentize($blue-700, .7);
    background-color: transparent;
    -webkit-transition: color .15s, border-color .15s;
    transition: color .15s, border-color .15s;
  }
  &_link &__cap {
    display: inline-block;
    line-height: inherit;
    color: inherit;
    border-bottom-style: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
  }
  &_link:focus {
    outline: dotted 1px transparentize($blue-800, .25);
    outline-offset: 3px;
    background-color: transparent;
  }
  &_link:hover {
    color: $blue-800;
    border-color: transparentize($blue-800, .7);
    background-color: transparent;
  }
  &_link:active {
    color: $blue-900;
    border-color: transparentize($blue-900, .7);
    background-color: transparent;
  }
  &_link_muted {
    color: $gray-800;
    border-color: transparentize($gray-800, .7);
  }
  &_link_color_black {
    color: $gray-900;
    border-color: transparentize($gray-900, .25);
  }
  &_link_color_black:hover {
    color: $gray-900;
    border-color: transparentize($gray-900, .25);
  }
  &_link_color_black:active {
    color: $gray-1000;
    border-color: transparentize($gray-1000, .25);
  }
  &[data-load] .load-icon {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    border-width: 2px;
    box-shadow: 0 0 60px 30px $gray-0;
  }
  &_size_sm[data-load] .load-icon {
    width: 16px;
    height: 16px;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    box-shadow: 0 0 8px 4px $gray-0;
  }
  &[disabled] {
    @include disable;
  }
}