<button class="btn" type="button">
	<i class="btn__icon">
		<svg class="btn__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" stroke="#333333" stroke-width="1"><path d="M0,0 L16,16 M0,16 L16,0 M0,0 L16,0 L16,16 L0,16 L0,0"></path></g></svg>
	</i>
	<span class="btn__cap">Кнопка с инлайновой иконкой</span>
</button>