.filter-form {
  margin-top: 40px; }
  .filter-form__secondary {
    margin-top: 30px; }
  .filter-form__title {
    font-weight: bold;
    margin: 30px 0 20px; }
    .filter-form__title:first-child {
      margin-top: 0; }
  .filter-form__rating-radio-cap {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .filter-form__rating-radio-star {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    pointer-events: none;
    margin-bottom: 4px; }
  .filter-form__rating-radio-svg {
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%; }
  .filter-form__submit-btn {
    margin-top: 30px; }
  .filter-form__reset-btn {
    margin-top: 10px; }

/*# sourceMappingURL=filter-form.css.map */
