@import "../common/vars";

.filter-form {
  margin-top: $p-xs+$p-md;

  &__secondary {
    margin-top: $p-md;
  }
  &__title {
    font-weight: bold;
    margin: $p-md 0 2*$p-xs;

    &:first-child {
      margin-top: 0;
    }
  }
  &__rating-radio-cap {
    @include flex();
  }
  &__rating-radio-star {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: $p-xxs;
    pointer-events: none;
    margin-bottom: 4px;
  }
  &__rating-radio-svg {
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%;
  }
  &__submit-btn {
    margin-top: $p-md;
  }
  &__reset-btn {
    margin-top: $p-xs;
  }
}