@import "../common/vars";

.order-modal {
  width: 40rem;
  padding: $o-sm $o-md $o-md;
  box-sizing: border-box;

  &__title {
    padding: 0;
    margin: 0 0 $o-sm;
    font-size: $fs-lg;
    line-height: $lh-lg;
    font-weight: bold;
  }
  &__key {
    padding: $o-xxs 0;
    margin: 0;
  }
  &__value {
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  &__workers {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__worker {
    @include flex();
    width: 100%;
    padding: 0;
    margin: $o-xs 0 0;
  }
  &__worker:first-child {
    margin-top: 0;
  }
  &__header {}
  &__image {
    @include flex-shrink(0);
    width: 3rem;
    margin-right: $o-xs;
  }
  &__about {
    width: 100%;
    margin-right: $o-xs;
  }
  &__appointment {
    @include flex-shrink(0);
    width: 7rem;
    text-align: center;
    margin-right: $o-xs;
  }
  &__lead-engineer {
    @include flex-shrink(0);
    width: 7rem;
    text-align: center;
  }
  &__header &__image,
  &__header &__about,
  &__header &__appointment,
  &__header &__lead-engineer {
    @include align-self(flex-end);
  }
  &__name {
    padding: 0;
    margin: 0;
  }
  &__spec {
    padding: 0;
    margin: 0;
    color: $gray-800;
  }
  &__select {
    display: inline-block;
    width: auto;
  }
  &__actions {
    margin-top: $o-md;
    text-align: center;
  }
  &__submit-btn {
    margin-right: $o-sm;
  }
  &__messages {
    margin-top: $o-sm;
  }
  &__actions-awaiting {
    display: block;
  }
  &__actions-wip {
    display: none;
  }
  &[data-state=wip] &__workers {
    display: none;
  }
  &[data-state=wip] {}
  &[data-state=wip] &__actions-awaiting {
    display: none;
  }
  &[data-state=wip] &__actions-wip {
    display: block;
  }
}