.order-modal {
  width: 40rem;
  padding: 1rem 2rem 2rem;
  box-sizing: border-box; }
  .order-modal__title {
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: bold; }
  .order-modal__key {
    padding: 0.25rem 0;
    margin: 0; }
  .order-modal__value {
    padding: 0;
    margin: 0;
    font-weight: bold; }
  .order-modal__workers {
    padding: 0;
    margin: 0;
    list-style: none; }
  .order-modal__worker {
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0.5rem 0 0; }
  .order-modal__worker:first-child {
    margin-top: 0; }
  .order-modal__image {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 3rem;
    margin-right: 0.5rem; }
  .order-modal__about {
    width: 100%;
    margin-right: 0.5rem; }
  .order-modal__appointment {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 7rem;
    text-align: center;
    margin-right: 0.5rem; }
  .order-modal__lead-engineer {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 7rem;
    text-align: center; }
  .order-modal__header .order-modal__image, .order-modal__header .order-modal__about, .order-modal__header .order-modal__appointment, .order-modal__header .order-modal__lead-engineer {
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end; }
  .order-modal__name {
    padding: 0;
    margin: 0; }
  .order-modal__spec {
    padding: 0;
    margin: 0;
    color: #777777; }
  .order-modal__select {
    display: inline-block;
    width: auto; }
  .order-modal__actions {
    margin-top: 2rem;
    text-align: center; }
  .order-modal__submit-btn {
    margin-right: 1rem; }
  .order-modal__messages {
    margin-top: 1rem; }
  .order-modal__actions-awaiting {
    display: block; }
  .order-modal__actions-wip {
    display: none; }
  .order-modal[data-state=wip] .order-modal__workers {
    display: none; }
  .order-modal[data-state=wip] .order-modal__actions-awaiting {
    display: none; }
  .order-modal[data-state=wip] .order-modal__actions-wip {
    display: block; }

/*# sourceMappingURL=order-modal.css.map */
