@import "../common/vars";

.form-messages {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: $o-sm;
  box-sizing: border-box;
  border: solid 1px $gray-300;
  background-color: $gray-50;
  color: $gray-900;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: padding .1s, opacity .15s;
  transition: padding .1s, opacity .15s;
  will-change: padding;

  &__msg {
    padding: 0;
    margin: 0;
    line-height: $lh-nl;
    color: inherit;
  }
  &[data-type=error] {
    color: $red-500;
    border-color: $red-500;
    background-color: $red-50;
  }
  &[data-type=success] {
    color: $green-500;
    border-color: $green-500;
    background-color: $green-50;
  }
  &[data-is-hidden] {
    height: 0;
    margin-top: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    pointer-events: none;
  }
}