.form-messages {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  color: #333333;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: padding .1s, opacity .15s;
  transition: padding .1s, opacity .15s;
  will-change: padding; }
  .form-messages__msg {
    padding: 0;
    margin: 0;
    line-height: 1.375rem;
    color: inherit; }
  .form-messages[data-type=error] {
    color: #F44336;
    border-color: #F44336;
    background-color: #ffebee; }
  .form-messages[data-type=success] {
    color: #4caf50;
    border-color: #4caf50;
    background-color: #e8f5e9; }
  .form-messages[data-is-hidden] {
    height: 0;
    margin-top: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    pointer-events: none; }

/*# sourceMappingURL=form-messages.css.map */
