.form-modal {
  font-weight: normal; }
  .form-modal__content {
    position: relative; }
  .form-modal__wrp {
    padding: 30px 0;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, opacity .3s; }
    @media (min-width: 48rem) {
      .form-modal__wrp {
        display: -webkit-flex;
        /*noinspection CssInvalidPropertyValue*/
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: stretch;
        -ms-align-items: stretch;
        align-items: stretch;
        -webkit-align-content: flex-start;
        -ms-align-content: flex-start;
        align-content: flex-start; } }
  .form-modal__information-side {
    width: 100%;
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .form-modal__information-wrp {
    text-align: center;
    padding: 30px;
    box-sizing: border-box; }
  .form-modal__icon {
    display: inline-block;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #009688; }
  .form-modal__svg {
    display: block;
    /*width: 40px;
    height: 40px;
    padding: 15px;*/
    fill: #ffffff;
    pointer-events: none; }
  .form-modal__title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding: 0;
    margin: 30px 0 0; }
  .form-modal__text {
    display: block;
    line-height: 1.375rem;
    padding: 0;
    margin: 5px 0 0;
    color: #777777; }
  .form-modal__company-name {
    color: #333333; }
  .form-modal__company-name:before {
    content: ' ';
    display: inline; }
  .form-modal__separator {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 1px;
    background-color: #e6e6e6; }
  .form-modal__form-side {
    display: block;
    padding: 30px;
    margin: 0;
    outline: none;
    border: 0;
    box-sizing: border-box; }
    @media (min-width: 48rem) {
      .form-modal__form-side {
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        width: 50%; } }
  .form-modal__item {
    margin-top: 15px; }
  .form-modal__item:first-child {
    margin-top: 0; }
  .form-modal__submit-wrp {
    margin-top: 30px; }
  .form-modal__messages {
    margin-top: 15px; }
  .form-modal__success {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(1.4) translateZ(0);
    transform: scale(1.4) translateZ(0);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, opacity .3s;
    pointer-events: none;
    z-index: -1;
    display: -webkit-flex;
    /*noinspection CssInvalidPropertyValue*/
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start; }
  .form-modal__success-wrp {
    max-width: 360px;
    text-align: center; }
  .form-modal__success-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: #607d8b;
    border-radius: 50%; }
  .form-modal__success-icon-svg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box; }
  .form-modal__success-icon {
    background-color: #4caf50;
    fill: #ffffff; }
  .form-modal__success-title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding: 0;
    margin: 15px 0 0; }
  .form-modal__success-text {
    display: block;
    line-height: 1.375rem;
    padding: 0;
    margin: 5px 0 0;
    color: #777777; }
  .form-modal[data-state=success] .form-modal__wrp {
    opacity: 0;
    -webkit-transform: scale(0.8) translateZ(0);
    transform: scale(0.8) translateZ(0);
    pointer-events: none; }
  .form-modal[data-state=success] .form-modal__success {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    pointer-events: auto;
    z-index: 1; }

/*# sourceMappingURL=form-modal.css.map */
