@import "../common/vars";

.form-modal {
  font-weight: normal;

  &__content {
    position: relative;
  }
  &__wrp {
    padding: $p-md 0;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, opacity .3s;
    @media (min-width: $sm) {
      @include flex($ai: stretch);
    }
  }
  &__information-side {
    width: 100%;
    @include flex($jc: center);
  }
  &__information-wrp {
    text-align: center;
    padding: $p-md;
    box-sizing: border-box;
  }
  &__icon {
    display: inline-block;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $teal-500;
  }
  &__svg {
    display: block;
    /*width: 40px;
    height: 40px;
    padding: 15px;*/
    fill: $gray-0;
    pointer-events: none;
  }
  &__title {
    display: block;
    font-size: $fs-md;
    line-height: $lh-md;
    padding: 0;
    margin: $p-md 0 0;
  }
  &__text {
    display: block;
    line-height: $lh-nl;
    padding: 0;
    margin: $p-xxs 0 0;
    color: $gray-800;
  }
  &__company-name {
    color: $gray-900;
  }
  &__company-name:before {
    content: ' ';
    display: inline;
  }
  &__separator {
    @include flex-shrink(0);
    width: 1px;
    background-color: $gray-300;
  }
  &__form-side {
    display: block;
    padding: $p-md;
    margin: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    @media (min-width: $sm) {
      @include flex-shrink(0);
      width: 50%;
    }
  }
  &__form {}
  &__item {
    margin-top: $p-sm;
  }
  &__item:first-child {
    margin-top: 0;
  }
  &__submit-wrp {
    margin-top: $p-md;
  }
  &__messages {
    margin-top: $p-sm;
  }
  &__success {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(1.4) translateZ(0);
    transform: scale(1.4) translateZ(0);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, opacity .3s;
    pointer-events: none;
    z-index: -1;
    @include flex($jc: center);
  }
  &__success-wrp {
    max-width: 360px;
    text-align: center;
  }
  &__success-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: $blue-gray-500;
    border-radius: 50%;
  }
  &__success-icon-svg {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  &__success-icon {
    background-color: $green-500;
    fill: $gray-0;
  }
  &__success-title {
    display: block;
    font-size: $fs-md;
    line-height: $lh-md;
    padding: 0;
    margin: $p-sm 0 0;
  }
  &__success-text {
    display: block;
    line-height: $lh-nl;
    padding: 0;
    margin: $p-xxs 0 0;
    color: $gray-800;
  }
  &[data-state=success] &__wrp {
    opacity: 0;
    -webkit-transform: scale(.8) translateZ(0);
    transform: scale(.8) translateZ(0);
    pointer-events: none;
  }
  &[data-state=success] &__success {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    pointer-events: auto;
    z-index: 1;
  }
}