@import "../common/vars";

.tabs {
  &__links {
    display: none;
    @media (min-width: $sm) {
      @include flex($ai: flex-end);
      border-bottom: solid 1px $blue-gray-100;
    }
  }
  &__link {
    position: relative;
    top: 1px;
    display: block;
    width: auto;
    height: 50px;
    padding: 0 $p-sm;
    margin: 0;
    font: inherit;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    color: $blue-gray-300;
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px transparent;
    box-sizing: border-box;
    -webkit-transition: border-color .15s, color .15s;
    transition: border-color .15s, color .15s;
    cursor: pointer;
  }
  &__link:focus {
    outline: dotted 1px transparentize($gray-900, .25);
    outline-offset: 3px;
  }
  &__link:hover {
    color: $blue-gray-500;
  }
  &__link_active {
    color: $blue-gray-700;
    border-color: $blue-gray-700;
    cursor: default;
  }
  &__wrp {
    @media (min-width: $sm) {
      margin-top: $p-md;
    }
  }
  &__tab {
    margin-top: $p-md;
    @media (min-width: $sm) {
      display: none;
      margin-top: 0;
    }
  }
  &__tab:first-child {
    margin-top: 0;
  }
  &__tab_is-shown {
    display: block;
  }
  &__cap {
    font-size: $fs-md;
    line-height: $lh-md;
    font-weight: bold;
    padding: 0;
    margin: 0 0 $p-sm;
    @media (min-width: $sm) {
      display: none;
    }
  }
  &__content {}
  &__toggle {
    margin-top: $p-md;
    @media (min-width: $sm) {
      display: none;
    }
  }
  &__toggle-btn {
    width: 100%;
  }
}