.tabs__links {
  display: none; }
  @media (min-width: 48rem) {
    .tabs__links {
      display: -webkit-flex;
      /*noinspection CssInvalidPropertyValue*/
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end;
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      border-bottom: solid 1px #bdc3c7; } }
.tabs__link {
  position: relative;
  top: 1px;
  display: block;
  width: auto;
  height: 50px;
  padding: 0 15px;
  margin: 0;
  font: inherit;
  text-transform: uppercase;
  outline: none;
  box-shadow: none;
  color: #90a4ae;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px transparent;
  box-sizing: border-box;
  -webkit-transition: border-color .15s, color .15s;
  transition: border-color .15s, color .15s;
  cursor: pointer; }
.tabs__link:focus {
  outline: dotted 1px rgba(51, 51, 51, 0.75);
  outline-offset: 3px; }
.tabs__link:hover {
  color: #607d8b; }
.tabs__link_active {
  color: #455A64;
  border-color: #455A64;
  cursor: default; }
@media (min-width: 48rem) {
  .tabs__wrp {
    margin-top: 30px; } }
.tabs__tab {
  margin-top: 30px; }
  @media (min-width: 48rem) {
    .tabs__tab {
      display: none;
      margin-top: 0; } }
.tabs__tab:first-child {
  margin-top: 0; }
.tabs__tab_is-shown {
  display: block; }
.tabs__cap {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: bold;
  padding: 0;
  margin: 0 0 15px; }
  @media (min-width: 48rem) {
    .tabs__cap {
      display: none; } }
.tabs__toggle {
  margin-top: 30px; }
  @media (min-width: 48rem) {
    .tabs__toggle {
      display: none; } }
.tabs__toggle-btn {
  width: 100%; }

/*# sourceMappingURL=tabs.css.map */
