<div class="tabs">
	<div class="tabs__links">
		<button class="tabs__link tabs__link_active" data-tab="price-1" type="button">Бетон</button>
		<button class="tabs__link" data-tab="price-2" type="button">Пескобетон</button>
		<button class="tabs__link" data-tab="price-3" type="button">Керамзитобетон</button>
		<button class="tabs__link" data-tab="price-4" type="button">Раствор</button>
	</div>
	<div class="tabs__wrp">
		<div class="tabs__tab tabs__tab_is-shown" data-tab-id="price-1">
			<p class="tabs__cap">Бетон</p>
			<div class="tab__content">
				<div class="line company-prices__line">
					<div class="line__l company-prices__table-side">
						<div class="table company-prices__table">
							<div class="table__wrp">
								<div class="table__r table__head">
									<div class="table__c table__h">Марка</div>
									<div class="table__c table__h">Цена&nbsp;за 1&nbsp;м³</div>
								</div>
								<div class="table__r">
									<div class="table__c">М100</div>
									<div class="table__c">3000&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М150</div>
									<div class="table__c">3200&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М200</div>
									<div class="table__c">3400&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М250</div>
									<div class="table__c">3600&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М300</div>
									<div class="table__c">3800&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М350</div>
									<div class="table__c">4000&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М400</div>
									<div class="table__c">4200&nbsp;₽</div>
								</div>
							</div>
						</div>
					</div>
					<div class="line__r line__r_c company-prices__options-side">
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия оплаты</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия оплаты:</p>
								<p class="company-prices__option">Закр. документы — есть</p>
								<p class="company-prices__option">Рассрочка — есть</p>
								<p class="company-prices__option">Скидки и акции — нет данных</p>
								<p class="company-prices__option">Оплата на месте — есть</p>
								<p class="company-prices__option">Оплата картой — есть</p>
							</div>
						</div>
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия доставки</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия доставки:</p>
								<p class="company-prices__option">Доставка по городу — 400&nbsp;₽/м³</p>
								<p class="company-prices__option">Доставка за город — 30&nbsp;₽/км</p>
								<p class="company-prices__option">Мин. объём доставки — 6&nbsp;м³</p>
								<p class="company-prices__option">Мин. объем заказа — 1&nbsp;м³</p>
								<p class="company-prices__option">Норма выгрузки — 60&nbsp;минут</p>
								<p class="company-prices__option">Простой сверх нормы —  1 000&nbsp;₽/час</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reveal-block company-prices__desc" data-is-block data-is-shown>
					<button class="btn btn_link reveal-block__btn" type="button">
						<span class="btn__cap">Дополнительно</span>
					</button>
					<div class="reveal-block__content">
						<p class="company-prices__cap">Дополнительно:</p>
						<p class="company-prices__option">Интересно отметить, что начальная стадия проведения исследования транслирует отраслевой стандарт. Концепция развития, пренебрегая деталями, притягивает продвигаемый имидж.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs__tab" data-tab-id="price-2">
			<p class="tabs__cap">Пескобетон</p>
			<div class="tab__content">
				<div class="line company-prices__line">
					<div class="line__l company-prices__table-side">
						<div class="table company-prices__table">
							<div class="table__wrp">
								<div class="table__r table__head">
									<div class="table__c table__h">Марка</div>
									<div class="table__c table__h">Цена&nbsp;за 1&nbsp;м³</div>
								</div>
								<div class="table__r">
									<div class="table__c">М100</div>
									<div class="table__c">3000&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М150</div>
									<div class="table__c">3200&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М200</div>
									<div class="table__c">3400&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М250</div>
									<div class="table__c">3600&nbsp;₽</div>
								</div>
							</div>
						</div>
					</div>
					<div class="line__r line__r_c company-prices__options-side">
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия оплаты</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия оплаты:</p>
								<p class="company-prices__option">Закр. документы — есть</p>
								<p class="company-prices__option">Рассрочка — есть</p>
								<p class="company-prices__option">Скидки и акции — нет данных</p>
								<p class="company-prices__option">Оплата на месте — есть</p>
								<p class="company-prices__option">Оплата картой — есть</p>
							</div>
						</div>
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия доставки</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия доставки:</p>
								<p class="company-prices__option">Доставка по городу — 400&nbsp;₽/м³</p>
								<p class="company-prices__option">Доставка за город — 30&nbsp;₽/км</p>
								<p class="company-prices__option">Мин. объём доставки — 6&nbsp;м³</p>
								<p class="company-prices__option">Мин. объем заказа — 1&nbsp;м³</p>
								<p class="company-prices__option">Норма выгрузки — 60&nbsp;минут</p>
								<p class="company-prices__option">Простой сверх нормы —  1 000&nbsp;₽/час</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reveal-block company-prices__desc" data-is-block data-is-shown>
					<button class="btn btn_link reveal-block__btn" type="button">
						<span class="btn__cap">Дополнительно</span>
					</button>
					<div class="reveal-block__content">
						<p class="company-prices__cap">Дополнительно:</p>
						<p class="company-prices__option">ПИСОС! Ну вот ты и попался на маркетинговую удочку</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs__tab" data-tab-id="price-3">
			<p class="tabs__cap">Керамзитобетон</p>
			<div class="tab__content">
				<div class="line company-prices__line">
					<div class="line__l company-prices__table-side">
						<div class="table company-prices__table">
							<div class="table__wrp">
								<div class="table__r table__head">
									<div class="table__c table__h">Марка</div>
									<div class="table__c table__h">Цена&nbsp;за 1&nbsp;м³</div>
								</div>
								<div class="table__r">
									<div class="table__c">М100</div>
									<div class="table__c">3000&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М150</div>
									<div class="table__c">3200&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М200</div>
									<div class="table__c">3400&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М250</div>
									<div class="table__c">3600&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М300</div>
									<div class="table__c">3800&nbsp;₽</div>
								</div>
							</div>
						</div>
					</div>
					<div class="line__r line__r_c company-prices__options-side">
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия оплаты</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия оплаты:</p>
								<p class="company-prices__option">Закр. документы — нет данных</p>
								<p class="company-prices__option">Рассрочка — нет данных</p>
								<p class="company-prices__option">Скидки и акции — нет данных</p>
								<p class="company-prices__option">Оплата на месте — нет данных</p>
								<p class="company-prices__option">Оплата картой — есть</p>
							</div>
						</div>
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия доставки</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия доставки:</p>
								<p class="company-prices__option">Доставка по городу — 800&nbsp;₽/м³</p>
								<p class="company-prices__option">Доставка за город — 200&nbsp;₽/км</p>
								<p class="company-prices__option">Мин. объём доставки — 10&nbsp;м³</p>
								<p class="company-prices__option">Мин. объем заказа — 10&nbsp;м³</p>
								<p class="company-prices__option">Норма выгрузки — 70&nbsp;минут</p>
								<p class="company-prices__option">Простой сверх нормы —  2 000&nbsp;₽/час</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reveal-block company-prices__desc" data-is-block data-is-shown>
					<button class="btn btn_link reveal-block__btn" type="button">
						<span class="btn__cap">Дополнительно</span>
					</button>
					<div class="reveal-block__content">
						<p class="company-prices__cap">Дополнительно:</p>
						<p class="company-prices__option">Не читай этот текст. И снова ты попался</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs__tab" data-tab-id="price-4">
			<p class="tabs__cap">Раствор</p>
			<div class="tab__content">
				<div class="line company-prices__line">
					<div class="line__l company-prices__table-side">
						<div class="table company-prices__table">
							<div class="table__wrp">
								<div class="table__r table__head">
									<div class="table__c table__h">Марка</div>
									<div class="table__c table__h">Цена&nbsp;за 1&nbsp;м³</div>
								</div>
								<div class="table__r">
									<div class="table__c">М100</div>
									<div class="table__c">3000&nbsp;₽</div>
								</div>
								<div class="table__r">
									<div class="table__c">М150</div>
									<div class="table__c">3200&nbsp;₽</div>
								</div>
							</div>
						</div>
					</div>
					<div class="line__r line__r_c company-prices__options-side">
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия оплаты</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия оплаты:</p>
								<p class="company-prices__option">Закр. документы — есть</p>
								<p class="company-prices__option">Рассрочка — есть</p>
								<p class="company-prices__option">Скидки и акции — нет данных</p>
								<p class="company-prices__option">Оплата на месте — есть</p>
								<p class="company-prices__option">Оплата картой — есть</p>
							</div>
						</div>
						<div class="reveal-block line__c" data-is-block data-is-shown>
							<button class="btn btn_link reveal-block__btn" type="button">
								<span class="btn__cap">Условия доставки</span>
							</button>
							<div class="reveal-block__content">
								<p class="company-prices__cap">Условия доставки:</p>
								<p class="company-prices__option">Доставка по городу — 400&nbsp;₽/м³</p>
								<p class="company-prices__option">Доставка за город — 30&nbsp;₽/км</p>
								<p class="company-prices__option">Мин. объём доставки — 6&nbsp;м³</p>
								<p class="company-prices__option">Мин. объем заказа — 1&nbsp;м³</p>
								<p class="company-prices__option">Норма выгрузки — 60&nbsp;минут</p>
								<p class="company-prices__option">Простой сверх нормы —  1 000&nbsp;₽/час</p>
							</div>
						</div>
					</div>
				</div>
				<div class="reveal-block company-prices__desc" data-is-block data-is-shown>
					<button class="btn btn_link reveal-block__btn" type="button">
						<span class="btn__cap">Дополнительно</span>
					</button>
					<div class="reveal-block__content">
						<p class="company-prices__cap">Дополнительно:</p>
						<p class="company-prices__option">Тебя жизнь вообще ничему не учит, я гляжу</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs__toggle">
			<button class="btn tabs__toggle-btn" type="button">
				<span class="btn__cap">Показать весь прайс-лист</span>
			</button>
		</div>
	</div>
</div>