@import "../common/vars";

.fixed-block {
  position: relative;
  width: 100%;
  min-width: 20rem;
  padding: 0 $o-sm;
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: $md) {
    padding-left: $o-sm;
    padding-right: $o-sm;
  }
  @media (min-width: $lg) {
    width: 74rem;
  }
}