.fixed-block {
  position: relative;
  width: 100%;
  min-width: 20rem;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (min-width: 62rem) {
    .fixed-block {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 75rem) {
    .fixed-block {
      width: 74rem; } }

/*# sourceMappingURL=fixed-block.css.map */
