@import "../common/vars";

.login-modal {
  padding: $p-hg $p-md;

  &__desc-side {
    text-align: center;
  }
  &__logo {
    display: inline-block;
  }
  &__cap {
    display: block;
    font-size: $fs-md;
    line-height: $lh-md;
    padding: 0;
    margin: $p-md 0 0;
  }
  &__desc {
    display: block;
    line-height: $lh-nl;
    padding: 0;
    margin: $p-xxs 0 0;
    color: $gray-800;
  }
  &__form-side {
    display: block;
    padding: 0;
    margin: $p-hg 0 0;
    outline: none;
    border: 0;
  }
  &__item {
    margin-top: $p-sm;
  }
  &__item:first-child {
    margin-top: 0;
  }
  &__links {
    margin-top: $p-md;
  }
  &__link {
    margin-top: $p-xxs;
  }
  &__messages {
    margin-top: $p-sm;
  }
}