.login-modal {
  padding: 60px 30px; }
  .login-modal__desc-side {
    text-align: center; }
  .login-modal__logo {
    display: inline-block; }
  .login-modal__cap {
    display: block;
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding: 0;
    margin: 30px 0 0; }
  .login-modal__desc {
    display: block;
    line-height: 1.375rem;
    padding: 0;
    margin: 5px 0 0;
    color: #777777; }
  .login-modal__form-side {
    display: block;
    padding: 0;
    margin: 60px 0 0;
    outline: none;
    border: 0; }
  .login-modal__item {
    margin-top: 15px; }
  .login-modal__item:first-child {
    margin-top: 0; }
  .login-modal__links {
    margin-top: 30px; }
  .login-modal__link {
    margin-top: 5px; }
  .login-modal__messages {
    margin-top: 15px; }

/*# sourceMappingURL=login-modal.css.map */
