@import "../common/vars";

.island {
  position: relative;
  display: block;
  padding: $o-sm $o-md $o-nl;
  background-color: $gray-0;
  border-radius: $rad;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  &__header {
    padding-bottom: $o-sm;
    margin-bottom: $o-sm;
    border-bottom: solid 2px $blue-gray-50;
  }
  &__title {
    padding: 0;
    margin: 0;
    color: $blue-gray-500;
    font-size: $fs-md;
    line-height: $lh-md;
    text-transform: uppercase;
    font-weight: 500;
  }
}