.island {
  position: relative;
  display: block;
  padding: 1rem 2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .island__header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px #eceff1; }
  .island__title {
    padding: 0;
    margin: 0;
    color: #607d8b;
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    font-weight: 500; }

/*# sourceMappingURL=island.css.map */
