@import "../common/vars";

.password-block {
  position: relative;
  width: 100%;

  &__field {
    padding-right: $field-nl - 1.5rem + 2*$o-sm;
  }
  &__btn {
    position: absolute;
    right: $o-sm;
    top: calc(50% - #{($field-nl - 1.5rem)/2});
    width: $field-nl - 1.5rem;
    height: $field-nl - 1.5rem;
    line-height: $field-nl - 1.5rem;
    border: 0;
    background: transparent;
    padding: 0;

    &:focus {
      background: transparent;
      outline: dotted 1px transparentize($gray-900, .25);
      outline-offset: 3px;
    }
    &:hover,
    &:active {
      background: transparent;
    }
  }
  &__btn-icon-hidden {
    display: block;
    margin-right: 0;
  }
  &__btn-icon-shown {
    display: none;
    margin-right: 0;
  }
  &[data-is-shown] &__btn-icon-hidden {
    display: none;
  }
  &[data-is-shown] &__btn-icon-shown {
    display: block;
  }
}