.password-block {
  position: relative;
  width: 100%; }
  .password-block__field {
    padding-right: 3rem; }
  .password-block__btn {
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border: 0;
    background: transparent;
    padding: 0; }
    .password-block__btn:focus {
      background: transparent;
      outline: dotted 1px rgba(51, 51, 51, 0.75);
      outline-offset: 3px; }
    .password-block__btn:hover, .password-block__btn:active {
      background: transparent; }
  .password-block__btn-icon-hidden {
    display: block;
    margin-right: 0; }
  .password-block__btn-icon-shown {
    display: none;
    margin-right: 0; }
  .password-block[data-is-shown] .password-block__btn-icon-hidden {
    display: none; }
  .password-block[data-is-shown] .password-block__btn-icon-shown {
    display: block; }

/*# sourceMappingURL=password-block.css.map */
