@import "../common/vars";

.actions-block {
  position: relative;
  display: inline-block;
  width: auto;

  &__btn {
    position: relative;
    width: auto;
    text-align: left;
    background-color: $gray-50;
    z-index: 2;
  }
  &__btn-cap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }
  &__btn-icon {
    position: absolute;
    top: calc(50% - 4px);
    right: 12px;
    width: 12px;
    min-height: 0;
    height: 8px;
    stroke: $gray-800;
    -webkit-transition: -webkit-transform .15s;
    transition: transform .15s;
  }
  &__btn-icon .btn__svg {
    position: static;
    width: 100%;
    height: 100%;
  }
  &__list {
    position: absolute;
    display: none;
    width: auto;
    padding: 4px 0;
    background-color: $gray-0;
    border: solid 1px $gray-300;
    border-radius: $rad;
    box-sizing: border-box;
    margin-top: $p-xs;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  &__options-btn {
    width: 100%;
    height: $field-sm;
    line-height: $field-sm - 2;
    text-align: left;
    border: 0;
    background-color: transparent;
    border-radius: 0;

    &:focus, &:hover {
      background-color: $teal-500;
      color: $gray-0;
    }
    &:active {
      background-color: $teal-600;
      color: $gray-0;
    }
  }
  &__options-btn .link__cap {
    line-height: $field-sm - 2;
  }
  &[data-alt] &__list {
    right: 0;
    border-radius: $rad 0 $rad $rad;
  }
  &[data-is-shown] &__btn {
    background-color: $gray-50;
    border-color: $gray-300;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
    z-index: 4;
  }
  &[data-is-shown] &__btn-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  &[data-is-shown] &__list {
    display: block;
  }
  &[data-is-shown][data-drop-up] &__btn {
    background-color: $gray-50;
    border: solid 1px $gray-300;
    border-radius: 0 0 $rad $rad;
    border-top-width: 0;
    padding-top: 1px;
    padding-bottom: 0;
  }
  &[data-is-shown][data-drop-up] &__list {
    bottom: $field-nl - 1;
    border-radius: $rad $rad $rad 0;
    margin-top: 0;
  }
  &[data-alt][data-is-shown][data-drop-up] &__list {
    border-radius: $rad $rad 0 $rad;
  }
}