.actions-block {
  position: relative;
  display: inline-block;
  width: auto; }
  .actions-block__btn {
    position: relative;
    width: auto;
    text-align: left;
    background-color: #fafafa;
    z-index: 2; }
  .actions-block__btn-cap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px; }
  .actions-block__btn-icon {
    position: absolute;
    top: calc(50% - 4px);
    right: 12px;
    width: 12px;
    min-height: 0;
    height: 8px;
    stroke: #777777;
    -webkit-transition: -webkit-transform .15s;
    transition: transform .15s; }
  .actions-block__btn-icon .btn__svg {
    position: static;
    width: 100%;
    height: 100%; }
  .actions-block__list {
    position: absolute;
    display: none;
    width: auto;
    padding: 4px 0;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 3; }
  .actions-block__options-btn {
    width: 100%;
    height: 1.875rem;
    line-height: -0.125rem;
    text-align: left;
    border: 0;
    background-color: transparent;
    border-radius: 0; }
    .actions-block__options-btn:focus, .actions-block__options-btn:hover {
      background-color: #009688;
      color: #ffffff; }
    .actions-block__options-btn:active {
      background-color: #00897B;
      color: #ffffff; }
  .actions-block__options-btn .link__cap {
    line-height: -0.125rem; }
  .actions-block[data-alt] .actions-block__list {
    right: 0;
    border-radius: 2px 0 2px 2px; }
  .actions-block[data-is-shown] .actions-block__btn {
    background-color: #fafafa;
    border-color: #e6e6e6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
    z-index: 4; }
  .actions-block[data-is-shown] .actions-block__btn-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .actions-block[data-is-shown] .actions-block__list {
    display: block; }
  .actions-block[data-is-shown][data-drop-up] .actions-block__btn {
    background-color: #fafafa;
    border: solid 1px #e6e6e6;
    border-radius: 0 0 2px 2px;
    border-top-width: 0;
    padding-top: 1px;
    padding-bottom: 0; }
  .actions-block[data-is-shown][data-drop-up] .actions-block__list {
    bottom: 1.5rem;
    border-radius: 2px 2px 2px 0;
    margin-top: 0; }
  .actions-block[data-alt][data-is-shown][data-drop-up] .actions-block__list {
    border-radius: 2px 2px 0 2px; }

/*# sourceMappingURL=actions-block.css.map */
