<div class="actions-block">
	<button class="btn actions-block__btn" type="button">
		<span class="btn__cap actions-block__btn-cap">Ещё</span>
		<i class="btn__icon actions-block__btn-icon">
			<svg class="btn__svg" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="inherit" stroke-width="1"><path d="M0,-1 L7,7 L14,-1"></path></g></svg>
		</i>
	</button>
	<div class="actions-block__list">
		<a class="link link_btn actions-block__options-btn" href="javascript:void(0);" target="_blank">
			<span class="link__cap">Ссылка</span>
		</a>
		<a class="link link_btn actions-block__options-btn" href="javascript:void(0);" data-async>
			<span class="link__cap">Асинхронное действие</span>
		</a>
		<button class="btn actions-block__options-btn" type="button">
			<span class="btn__cap">Действие</span>
		</button>
	</div>
</div>