@import "../common/vars";

.field {
  display: block;
  width: 100%;
  height: $field-nl;
  padding: 0 $p-xs;
  margin: 0;
  font: inherit;
  color: inherit;
  border: solid 1px $gray-300;
  background-color: $gray-0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background-color .15s, border-color .15s;
  transition: background-color .15s, border-color .15s;
  @include custom-placeholder();
  @media (min-width: $md) {
    padding-left: $p-sm;
    padding-right: $p-sm;
  }

  &_text-area {
    line-height: $lh-nl;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  &:hover {
    border-color: $gray-500;
  }
  &:focus {
    border-color: $teal-500;
  }
  &[disabled] {
    border-color: $gray-300;
  }
  &_is-error {
    border-color: $red-500;
    background-color: $red-50;
  }
}
