.field {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 10px;
  margin: 0;
  font: inherit;
  color: inherit;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background-color .15s, border-color .15s;
  transition: background-color .15s, border-color .15s; }
  .field ::-webkit-input-placeholder {
    color: #999999; }
  .field :-moz-placeholder {
    color: #999999; }
  .field ::-moz-placeholder {
    color: #999999; }
  .field :-ms-input-placeholder {
    color: #999999; }
  @media (min-width: 62rem) {
    .field {
      padding-left: 15px;
      padding-right: 15px; } }
  .field_text-area {
    line-height: 1.375rem;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px; }
  .field:hover {
    border-color: #bbbbbb; }
  .field:focus {
    border-color: #009688; }
  .field[disabled] {
    border-color: #e6e6e6; }
  .field_is-error {
    border-color: #F44336;
    background-color: #ffebee; }

/*# sourceMappingURL=field.css.map */
