// colors
$teal-400: #26A69A;
$teal-500: #009688; // button
$teal-600: #00897B; // hover
$teal-700: #00796B; // active
$blue-600: #1e88e5;
$blue-700: #1976D2; // links
$blue-800: #1565C0; // hover
$blue-900: #0D47A1; // active
$red-50: #ffebee;
$red-100: #ffcdd2; // alert danger bg
$red-400: #ef5350; // alert danger border
$red-500: #F44336; // errors messages
$red-600: #E53935;
$red-800: #c62828; // alert danger text
$light-green-50: #F1F8E9; // company review answer
$light-green-100: #dcedc8; // alert success bg
$light-green-400: #9ccc65; // alert success border
$light-green-600: #7CB342; // open, search
$light-green-700: #689F38; // search hover
$light-green-800: #558B2F; // search focus, alert success text
$green-50: #e8f5e9;
$green-400: #66BB6A;
$green-500: #4caf50;
$green-800: #2e7d32;
$lime-100: #f0f4c3;
$lime-700: #afb42b;
$lime-900: #827717;
$purple-50: #f3e5f5;
$purple-300: #ba68c8;
$purple-500: #9c27b0;
$purple-800: #6a1b9a;
$blue-gray-50: #eceff1;
$blue-gray-100: #bdc3c7;
$blue-gray-200: #b0bec5;
$blue-gray-300: #90a4ae;
$blue-gray-400: #78909c;
$blue-gray-500: #607d8b;
$blue-gray-600: #546E7A;
$blue-gray-700: #455A64;
$blue-gray-800: #37474f;
$blue-gray-900: #263238;
$light-blue-200: #81D4FA; // alert info bg
$light-blue-400: #29b6f6; // alert info border
$light-blue-900: #01579b; // alert info text
$cyan-400: #26c6da;
$yellow-500: #ffeb3b;
$amber-500: #ffc107; // labels, rating
$orange-100: #ffe0b2; // alert warning bg
$orange-400: #ffa726; // alert warning border
$orange-700: #f57c00; // alert warning text
$deep-orange-500: #ff5722;
$pink-50: #fce4ec;
$pink-300: #f06292; // labels
$pink-500: #e91e63;
$pink-700: #c2185b;
$gray-0:   #ffffff; // island back
$gray-50:  #fafafa; // button bg
$gray-100: #f5f5f5; // button hover
$gray-200: #f0f0f0; // button active
$gray-300: #e6e6e6; // borders
$gray-400: #dddddd; // border focus
$gray-500: #bbbbbb; // border hover
$gray-700: #999999; // placeholder
$gray-800: #777777; // muted text
$gray-900: #333333; // text
$gray-1000:#000000; // link outline
// font-sizes;
$fs-xs: .750rem;
$fs-sm: .875rem;
$fs-nl: 1.00rem;
$fs-md: 1.25rem;
$fs-lg: 1.50rem;
$fs-hg: 1.75rem;
// line heights
$lh-xs: $fs-xs + .375rem;
$lh-sm: $fs-sm + .375rem;
$lh-nl: $fs-nl + .375rem;
$lh-md: $fs-md + .375rem;
$lh-lg: $fs-lg + .375rem;
$lh-hg: $fs-hg + .375rem;
// paddings/margins and other offsets
$p-xxs: 5px;
$p-xs: 10px;
$p-sm: 15px;
$p-md: 30px;
$p-lg: 45px;
$p-hg: 60px;
// field sizes
$field-nl: 2.5rem;
$field-sm: $field-nl - .625rem;
$field-lg: $field-nl + .750rem;
// break points
$xs: 20rem;
$sm: 48rem;
$md: 62rem;
$lg: 75rem;
$hg: 88rem;
// border radius
$rad: 2px;
// rem offsets
$o-xxs: .25rem;
$o-xs: .5rem;
$o-sm: 1rem;
$o-nl: 1.5rem;
$o-md: 2rem;
$o-lg: 3rem;
$o-hg: 4rem;
// mixins
@mixin flex($fd: row, $fw: nowrap, $jc: flex-start, $ai: center, $ac: flex-start) {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: $fd;
  -ms-flex-direction: $fd;
  flex-direction: $fd;
  -webkit-flex-wrap: $fw;
  -ms-flex-wrap: $fw;
  flex-wrap: $fw;
  -webkit-justify-content: $jc;
  -ms-justify-content: $jc;
  justify-content: $jc;
  -webkit-align-items: $ai;
  -ms-align-items: $ai;
  align-items: $ai;
  -webkit-align-content: $ac;
  -ms-align-content: $ac;
  align-content: $ac;
}
@mixin flex-grow ($value) {
  -webkit-flex-grow: $value;
  -ms-flex-grow: $value;
  flex-grow: $value;
}
@mixin flex-shrink ($value) {
  -webkit-flex-shrink: $value;
  -ms-flex-shrink: $value;
  flex-shrink: $value;
}
@mixin flex-order($value) {
  -ms-flex-order: $value;
  -webkit-order: $value;
  order: $value;
}
@mixin justify-content ($value) {
  -webkit-justify-content: $value;
  -ms-justify-content: $value;
  justify-content: $value;
}
@mixin flex-direction ($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
@mixin flex-wrap ($value) {
  -webkit-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}
@mixin align-items ($value) {
  -webkit-align-items: $value;
  -ms-align-items: $value;
  align-items: $value;
}
@mixin align-content ($value) {
  -webkit-align-content: $value;
  -ms-align-content: $value;
  align-content: $value;
}
@mixin align-self ($value) {
  -webkit-align-self: $value;
  -ms-align-self: $value;
  align-self: $value;
}
@mixin disable {
  cursor: not-allowed !important;
  opacity: .6 !important;

  & * {
    pointer-events: none !important;
  }
}
@mixin no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin custom-scroll-bar($width: 8px, $color: $gray-900) {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
  }
}
@mixin custom-placeholder($color: $gray-700) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  :-moz-placeholder {
    color: $color;
  }
  ::-moz-placeholder {
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
}
@mixin smooth-animation {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
@mixin columns($width, $columns) {
  -webkit-columns: $width $columns;
  -moz-columns: $width $columns;
  columns: $width $columns;
}