.hidden-wrp {
  display: none !important; }

*[data-load] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  cursor: progress; }
  *[data-load] * {
    pointer-events: none; }
  *[data-load] .load-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 60px 20px #ffffff;
    background-color: #ffffff;
    border: solid 4px #009688;
    border-right-color: transparent;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    -webkit-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
    box-sizing: border-box;
    will-change: top;
    z-index: 11; }
  *[data-load]:before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
html, body {
  height: 100%; }

.page {
  min-width: 66rem;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #333333;
  background-color: #f5f5f5; }

.main {
  padding: 2rem 0; }

/*# sourceMappingURL=common.css.map */
