@import "vars";

.hidden-wrp {
  display: none !important;
}

*[data-load] {
  @include no-selection;
  position: relative;
  cursor: progress;

  * {
    pointer-events: none;
  }
  .load-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 60px 20px $gray-0;
    background-color: $gray-0;
    border: solid 4px $teal-500;
    border-right-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    -webkit-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
    box-sizing: border-box;
    will-change: top;
    z-index: 11;
  }
  &:before {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

html, body {
  height: 100%;
}

.page {
  min-width: 66rem;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: $fs-nl;
  line-height: $lh-nl;
  color: $gray-900;
  background-color: $gray-100;
}

.main {
  padding: $o-md 0;
}