@import "../common/vars";

.orders {
  &__island {
    margin-top: $o-md;
  }
  &__island:first-child {
    margin-top: 0;
  }
  &__table {
    table-layout: fixed;
  }
  &__table-head {
    color: $gray-300;
    text-transform: uppercase;
  }
  &__table-row {
    cursor: pointer;
    border-radius: $rad;
    background-color: transparent;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
  }
  &__table-row:hover {
    background-color: $gray-100;
  }
  &__table-cell {
    padding: $o-xs;
    font-size: $fs-sm;
    line-height: $lh-sm;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
  }
  &__table-head &__table-cell {
    padding-top: 0;
    padding-bottom: $o-xs + $o-xxs;
    font-size: $fs-md;
    line-height: $lh-md;
  }
  &__vid-cell {
    width: 5rem;
  }
  &__client-cell {
    width: auto;
  }
  &__products-cell {
    width: 30%;
  }
  &__chief-cell {
    width: 17%;
  }
  &__date-cell {
    width: 15%;
    text-align: center;
  }
  &__state-cell {
    width: 11%;
    text-align: center;
  }
}