.orders__island {
  margin-top: 2rem; }
.orders__island:first-child {
  margin-top: 0; }
.orders__table {
  table-layout: fixed; }
.orders__table-head {
  color: #e6e6e6;
  text-transform: uppercase; }
.orders__table-row {
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background-color .15s;
  transition: background-color .15s; }
.orders__table-row:hover {
  background-color: #f5f5f5; }
.orders__table-cell {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box; }
.orders__table-head .orders__table-cell {
  padding-top: 0;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.625rem; }
.orders__vid-cell {
  width: 5rem; }
.orders__client-cell {
  width: auto; }
.orders__products-cell {
  width: 30%; }
.orders__chief-cell {
  width: 17%; }
.orders__date-cell {
  width: 15%;
  text-align: center; }
.orders__state-cell {
  width: 11%;
  text-align: center; }

/*# sourceMappingURL=orders.css.map */
