.field-grp {
  position: relative;
  width: 100%; }
  .field-grp__postfix {
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
    margin: 0;
    line-height: 2.5rem;
    color: #777777;
    pointer-events: none; }
    @media (min-width: 62rem) {
      .field-grp__postfix {
        right: 15px; } }
  .field-grp__prefix {
    position: absolute;
    top: 0;
    left: 10px;
    width: auto;
    margin: 0;
    line-height: 4.5rem;
    color: #333333;
    pointer-events: none; }
    @media (min-width: 62rem) {
      .field-grp__prefix {
        left: 15px; } }
  .field-grp_simple .field-grp__field {
    padding-right: 30px; }
    @media (min-width: 62rem) {
      .field-grp_simple .field-grp__field {
        padding-right: 35px; } }
  .field-grp_volume .field-grp__field {
    padding-right: 40px; }
    @media (min-width: 62rem) {
      .field-grp_volume .field-grp__field {
        padding-right: 45px; } }
  .field-grp_currency .field-grp__field {
    padding-right: 37px; }
    @media (min-width: 62rem) {
      .field-grp_currency .field-grp__field {
        padding-right: 42px; } }
  .field-grp_minutes .field-grp__field {
    padding-right: 70px; }
    @media (min-width: 62rem) {
      .field-grp_minutes .field-grp__field {
        padding-right: 75px; } }
  .field-grp_amount .field-grp__field {
    padding-right: 70px; }
    @media (min-width: 62rem) {
      .field-grp_amount .field-grp__field {
        padding-right: 75px; } }
  .field-grp_phone .field-grp__field {
    padding-left: 30px; }
    @media (min-width: 62rem) {
      .field-grp_phone .field-grp__field {
        padding-left: 35px; } }
  .field-grp_tonne .field-grp__field {
    padding-right: 55px; }
    @media (min-width: 62rem) {
      .field-grp_tonne .field-grp__field {
        padding-right: 60px; } }
  @media (min-width: 48rem) {
    .field-grp_inline {
      display: -webkit-flex;
      /*noinspection CssInvalidPropertyValue*/
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      min-height: 2.5rem; } }
  .field-grp_inline .field-grp__c {
    margin-top: 10px; }
    @media (min-width: 48rem) {
      .field-grp_inline .field-grp__c {
        margin-top: 0;
        margin-right: 10px; } }
  .field-grp_inline .field-grp__c:first-child {
    margin-top: 0; }
  .field-grp_inline .field-grp__c:last-child {
    margin-right: 0; }

/*# sourceMappingURL=field-grp.css.map */
