@import "../common/vars";

.field-grp {
  position: relative;
  width: 100%;

  &__postfix {
    position: absolute;
    right: $p-xs;
    top: 0;
    width: auto;
    margin: 0;
    line-height: $field-nl;
    color: $gray-800;
    pointer-events: none;
    @media (min-width: $md) {
      right: $p-sm;
    }
  }
  &__prefix {
    position: absolute;
    top: 0;
    left: $p-xs;
    //top: calc(50% - 7px);
    width: auto;
    //height: 16px;
    margin: 0;
    line-height: $field-nl + 2;
    color: $gray-900;
    pointer-events: none;
    @media (min-width: $md) {
      left: $p-sm;
    }
  }
  &__field {}
  &_simple &__field {
    padding-right: 20 + $p-xs;
    @media (min-width: $md) {
      padding-right: 20 + $p-sm;
    }
  }
  &_volume &__field {
    padding-right: 30 + $p-xs;
    @media (min-width: $md) {
      padding-right: 30 + $p-sm;
    }
  }
  &_currency &__field {
    padding-right: 27 + $p-xs;
    @media (min-width: $md) {
      padding-right: 27 + $p-sm;
    }
  }
  &_minutes &__field {
    padding-right: 60 + $p-xs;
    @media (min-width: $md) {
      padding-right: 60 + $p-sm;
    }
  }
  &_amount &__field {
    padding-right: 60 + $p-xs;
    @media (min-width: $md) {
      padding-right: 60 + $p-sm;
    }
  }
  &_phone &__field {
    padding-left: 20 + $p-xs;
    @media (min-width: $md) {
      padding-left: 20 + $p-sm;
    }
  }
  &_tonne &__field {
    padding-right: 45 + $p-xs;
    @media (min-width: $md) {
      padding-right: 45 + $p-sm;
    }
  }
  &_inline {
    @media (min-width: $sm) {
      @include flex();
      min-height: $field-nl;
    }
  }
  &_inline &__c {
    margin-top: $p-xs;
    @media (min-width: $sm) {
      margin-top: 0;
      margin-right: $p-xs;
    }
  }
  &_inline &__c:first-child {
    margin-top: 0;
  }
  &_inline &__c:last-child {
    margin-right: 0;
  }
}