<!--block:html-head-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{- this['html-head'].title }}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.75, user-scalable=yes" />
	<link href="styles.css" rel="stylesheet"/>
</head>
<body class="page">
<!--end:html-head-->

<section class="page__wrp" id="page">
	<main class="main">
		<!--block:welcome-->
		<section class="welcome">
			<!--suppress HtmlUnknownTarget -->
			<a href="/">Радиозавод Юпитер</a>
		
			"Мы поставляем лучшие радиодетали
			на рынок, используя современные
			технологии по самым низким ценам"
			- Радиозавод "Юпитер"
		
			<!--suppress HtmlUnknownTarget -->
			<a href="/order/">Оформить заказ</a>
		
			<!--suppress HtmlUnknownTarget -->
			<a href="/products/">Наша продукция</a>
			<!--suppress HtmlUnknownTarget -->
			<a href="/contacts/">Контакты</a>
		
			250
			надежных посредников
			по всей стране
		
			617
			отличных поставщиков,
			готовых к работе
		
			10
			видов продукции завода,
			которой мы гордимся
		
			9000
			довольных клиетов и
			радиолюбителей
		</section>
		<!--end:welcome-->
		
	</main>
</section>
<!--block:html-foot-->
<script src="scripts.js"></script>
</body>
</html>
<!--end:html-foot-->
