@import "../common/vars";

.page-not-found {
  &__title-wrp {
    width: 100%;
  }
  &__page-title {
    @media (min-width: $sm) {
      font-size: $fs-hg;
      line-height: $lh-hg;
    }
  }
  &__wrp {
    text-align: center;
    @media (min-width: $sm) {
      padding: $p-hg 0;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin-top: $p-hg;
    stroke: $gray-900;
    opacity: .5;
  }
  &__svg {
    display: block;
    width: 100%;
    height: auto;
  }
  &__text {
    margin: $p-md 0 0;
    padding: 0;
    line-height: $lh-nl;
    color: $gray-800;
  }
  &__link {
    margin-top: $p-md;
  }
}