.page-not-found__title-wrp {
  width: 100%; }
@media (min-width: 48rem) {
  .page-not-found__page-title {
    font-size: 1.75rem;
    line-height: 2.125rem; } }
.page-not-found__wrp {
  text-align: center; }
  @media (min-width: 48rem) {
    .page-not-found__wrp {
      padding: 60px 0;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; } }
.page-not-found__icon {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-top: 60px;
  stroke: #333333;
  opacity: .5; }
.page-not-found__svg {
  display: block;
  width: 100%;
  height: auto; }
.page-not-found__text {
  margin: 30px 0 0;
  padding: 0;
  line-height: 1.375rem;
  color: #777777; }
.page-not-found__link {
  margin-top: 30px; }

/*# sourceMappingURL=page-not-found.css.map */
