// Variables
// --------------------------------------------------


// Colors
// -------------------------

$color-brand: #39f !default;
$color-black: #000 !default;
$color-white: #fff !default;


// Media queries breakpoints
// -------------------------

// Large screen / wide desktop
$screen-large-min: 1200px !default;

// Medium screen / desktop
$screen-medium-min: 992px !default;
$screen-medium-max: ($screen-large-min - 1) !default;

// Small screen / tablet
$screen-small-min: 768px !default;
$screen-small-max: ($screen-medium-min - 1) !default;

// Extra small screen / phone
$screen-x-small-max: ($screen-small-min - 1) !default;

// Mixins
// --------------------------------------------------


// Sizing shortcuts
// -------------------------

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

// Cropper
// --------------------------------------------------


// Container
// -------------------------

.cropper-container {
  font-size: 0;
  line-height: 0;

  position: relative;

  user-select: none;

  direction: ltr !important; // Ignore global rtl
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  img {
    // Avoid margin top issue (Occur only when margin-top <= -height)
    display: block;

    @include square(100%);
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: none !important;
    max-height: none !important;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/image-orientation
    image-orientation: 0deg !important;
  }
}


// Components
// -------------------------

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-wrap-box {
  overflow: hidden;
}

.cropper-drag-box {
  opacity: 0;
  background-color: $color-white;
}

.cropper-modal {
  opacity: .5;
  background-color: $color-black;
}

.cropper-view-box {
  display: block;
  overflow: hidden;

  @include square(100%);

  outline: 1px solid $color-brand;
  outline-color: rgba($color-brand, .75);
}


// References
// -------------------------

.cropper-dashed {
  position: absolute;

  display: block;

  opacity: .5;
  border: 0 dashed #eee;

  &.dashed-h {
    top: percentage(1 / 3);
    left: 0;

    @include size(100%, percentage(1 / 3));

    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  &.dashed-v {
    top: 0;
    left: percentage(1 / 3);

    @include size(percentage(1 / 3), 100%);

    border-right-width: 1px;
    border-left-width: 1px;
  }
}

.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 0;
  height: 0;

  opacity: .75;

  &:before,
  &:after {
    position: absolute;

    display: block;

    content: ' ';

    background-color: #eee;
  }

  &:before {
    top: 0;
    left: -3px;

    width: 7px;
    height: 1px;
  }

  &:after {
    top: -3px;
    left: 0;

    width: 1px;
    height: 7px;
  }
}


// Handlers
// -------------------------

.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;

  display: block;

  @include square(100%);

  opacity: .1;
}

.cropper-face {
  top: 0;
  left: 0;

  background-color: $color-white;
}

.cropper-line {
  background-color: $color-brand;

  &.line-e {
    top: 0;
    right: -3px;

    width: 5px;

    cursor: e-resize;
  }

  &.line-n {
    top: -3px;
    left: 0;

    height: 5px;

    cursor: n-resize;
  }

  &.line-w {
    top: 0;
    left: -3px;

    width: 5px;

    cursor: w-resize;
  }

  &.line-s {
    bottom: -3px;
    left: 0;

    height: 5px;

    cursor: s-resize;
  }
}

.cropper-point {
  @include square(5px);

  opacity: .75;
  background-color: $color-brand;

  &.point-e {
    top: 50%;
    right: -3px;

    margin-top: -3px;

    cursor: e-resize;
  }

  &.point-n {
    top: -3px;
    left: 50%;

    margin-left: -3px;

    cursor: n-resize;
  }

  &.point-w {
    top: 50%;
    left: -3px;

    margin-top: -3px;

    cursor: w-resize;
  }

  &.point-s {
    bottom: -3px;
    left: 50%;

    margin-left: -3px;

    cursor: s-resize;
  }

  &.point-ne {
    top: -3px;
    right: -3px;

    cursor: ne-resize;
  }

  &.point-nw {
    top: -3px;
    left: -3px;

    cursor: nw-resize;
  }

  &.point-sw {
    bottom: -3px;
    left: -3px;

    cursor: sw-resize;
  }

  &.point-se {
    right: -3px;
    bottom: -3px;

    @include square(20px);

    cursor: se-resize;

    opacity: 1;
  }

  &.point-se:before {
    position: absolute;
    right: -50%;
    bottom: -50%;

    display: block;

    @include square(200%);

    content: ' ';

    opacity: 0;
    background-color: $color-brand;
  }

  @media (min-width: $screen-small-min) {
    &.point-se {
      @include square(15px);
    }
  }

  @media (min-width: $screen-medium-min) {
    &.point-se {
      @include square(10px);
    }
  }

  @media (min-width: $screen-large-min) {
    &.point-se {
      @include square(5px);

      opacity: .75;
    }
  }
}

// Helper classes for JavaScript
// --------------------------------------------------


// Visual
// -------------------------

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}


// Visibility
// -------------------------

.cropper-hide {
  position: absolute;

  display: block;

  width: 0;
  height: 0;
}

.cropper-hidden {
  display: none !important;
}


// Cursors
// -------------------------

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled {
  .cropper-drag-box,
  .cropper-face,
  .cropper-line,
  .cropper-point {
    cursor: not-allowed;
  }
}