@import "../common/vars";

.header-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -9999;
  overflow: hidden;
  border-bottom: solid 4px $gray-100;
  -webkit-transition: height .15s;
  transition: height .15s;
  will-change: height;
  @media (min-width: $sm) {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    height: auto;
    border-bottom: 0;
  }

  &[data-is-shown] {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    height: auto;
  }
  &_auto-hide {
    @media (min-width: $sm) {
      display: none;
    }
  }
}