.header-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -9999;
  overflow: hidden;
  border-bottom: solid 4px #f5f5f5;
  -webkit-transition: height .15s;
  transition: height .15s;
  will-change: height; }
  @media (min-width: 48rem) {
    .header-menu {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
      height: auto;
      border-bottom: 0; } }
  .header-menu[data-is-shown] {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    height: auto; }
  @media (min-width: 48rem) {
    .header-menu_auto-hide {
      display: none; } }

/*# sourceMappingURL=header-menu.css.map */
