@import "../common/vars";

.modal-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
  z-index: 10;
  @media (min-width: $sm) {
    min-height: 0;
  }

  &__back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.75);
    z-index: 1;
  }
  &__wrp {
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    z-index: 2;
    // height: 100vh; firefox
    @media (min-width: $sm) {
      @include flex($jc: center);
    }
  }
  &__cell {
    -webkit-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0);
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    @media (min-width: $sm) {
      padding: $p-md;
    }
  }
  &[data-is-shown] {
    opacity: 1;
  }
  &[data-is-shown] &__cell {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }
}