.modal-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
  z-index: 10; }
  @media (min-width: 48rem) {
    .modal-container {
      min-height: 0; } }
  .modal-container__back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1; }
  .modal-container__wrp {
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    z-index: 2; }
    @media (min-width: 48rem) {
      .modal-container__wrp {
        display: -webkit-flex;
        /*noinspection CssInvalidPropertyValue*/
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-align-content: flex-start;
        -ms-align-content: flex-start;
        align-content: flex-start; } }
  .modal-container__cell {
    -webkit-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0);
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s; }
    @media (min-width: 48rem) {
      .modal-container__cell {
        padding: 30px; } }
  .modal-container[data-is-shown] {
    opacity: 1; }
  .modal-container[data-is-shown] .modal-container__cell {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); }

/*# sourceMappingURL=modal-container.css.map */
