.no-content {
  width: 100%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box; }
  .no-content__icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    stroke: #333333;
    opacity: .5; }
  .no-content__svg {
    display: block;
    width: 100%;
    height: auto; }
  .no-content__message {
    padding: 0;
    margin: 0;
    line-height: 1.375rem;
    color: #777777; }
  .no-content__item {
    margin-top: 30px; }
  .no-content__item:first-child {
    margin-top: 0; }

/*# sourceMappingURL=no-content.css.map */
