@import "../common/vars";

.no-content {
  width: 100%;
  padding: $p-md;
  text-align: center;
  box-sizing: border-box;

  &__icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    stroke: $gray-900;
    opacity: .5;
  }
  &__svg {
    display: block;
    width: 100%;
    height: auto;
  }
  &__message {
    padding: 0;
    margin: 0;
    line-height: $lh-nl;
    color: $gray-800;
  }
  &__action {}
  &__item {
    margin-top: $p-md;
  }
  &__item:first-child {
    margin-top: 0;
  }
}