@import "../common/vars";

.menu {
  @include flex($jc: flex-end, $ai: stretch);
  width: auto;

  &__link {
    @include flex-shrink(0);
    display: inline-block;
    width: auto;
    padding: $o-xs $o-sm;
    margin-right: $o-xs;
    font-size: $fs-md;
    line-height: $lh-md;
    white-space: nowrap;
    border-radius: $rad;
    background-color: transparent;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    box-sizing: border-box;
  }
  &__link:focus,
  &__link:hover {
    outline: none;
    background-color: $blue-gray-800;
  }
  &__link-cap,
  &__link:hover &__link-cap {
    color: $gray-0;
    padding: 0;
    border: 0;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
  }
  &__link:last-child {
    margin-right: 0;
  }
  &__link[data-active=true],
  &__link[data-active=true]:focus,
  &__link[data-active=true]:hover {
    background-color: $blue-gray-800;
    cursor: default;
  }
}