.menu {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  width: auto; }
  .menu__link {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: inline-block;
    width: auto;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    white-space: nowrap;
    border-radius: 2px;
    background-color: transparent;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    box-sizing: border-box; }
  .menu__link:focus, .menu__link:hover {
    outline: none;
    background-color: #37474f; }
  .menu__link-cap, .menu__link:hover .menu__link-cap {
    color: #ffffff;
    padding: 0;
    border: 0;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline; }
  .menu__link:last-child {
    margin-right: 0; }
  .menu__link[data-active=true], .menu__link[data-active=true]:focus, .menu__link[data-active=true]:hover {
    background-color: #37474f;
    cursor: default; }

/*# sourceMappingURL=menu.css.map */
