.slogan {
  display: -webkit-flex;
  /*noinspection CssInvalidPropertyValue*/
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  padding-left: 1rem; }
  .slogan:before {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    content: '';
    display: none;
    width: 1px;
    height: 3rem;
    background-color: #e6e6e6;
    margin-right: 1rem; }
    @media (min-width: 75rem) {
      .slogan:before {
        display: block; } }
  .slogan__text {
    padding: 0;
    margin: 0; }

/*# sourceMappingURL=slogan.css.map */
