@import "../common/vars";

.slogan {
  @include flex();
  padding-left: $o-sm;

  &:before {
    @include flex-shrink(0);
    content: '';
    display: none;
    width: 1px;
    height: 3rem;
    background-color: $gray-300;
    margin-right: $o-sm;
    @media (min-width: $lg) {
      display: block;
    }
  }
  &__text {
    padding: 0;
    margin: 0;
  }
}