@import "../common/vars";

.pika-single {
  @include no-selection;
  z-index: 9999;
  display: block;
  position: relative;
  color: $gray-900;
  background: $gray-0;
  border: solid 1px $teal-500;
  margin-top: 4px;
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both
  }
  .pika-lendar {
    min-width: 254px;

    .pika-title {
      @include flex($jc: center);
      position: relative;
      text-align: center;
      background-color: $teal-500;
      color: $gray-0;
      height: 50px;

      select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        margin: 0;
        left: 0;
        top: 5px;
        filter: alpha(opacity=0);
        opacity: 0;
      }
    }
    .pika-label {
      display: inline-block;
      position: relative;
      z-index: 9999;
      overflow: hidden;
      margin: 0;
      padding: 5px 3px;
      line-height: $lh-sm;
    }
    .pika-prev, .pika-next {
      position: absolute;
      top: 0;
      display: block;
      border: 0;
      padding: 0;
      width: 40px;
      height: 100%;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      color: $gray-0;
      background: transparent;
      cursor: pointer;
      -webkit-transition: opacity .15s;
      transition: opacity .15s;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
      &.is-disabled {
        cursor: default;
        opacity: .5;
      }
    }
    .pika-prev, .is-rtl .pika-next {
      left: 0;
    }
    .pika-next, .is-rtl .pika-prev {
      right: 0;
    }
    .pika-select {
      display: inline-block;
    }
    .pika-table {
      width: calc(100% - 20px);
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;
      margin: 10px;

      th, td {
        /*width: 14.285714285714286%;*/
        padding: 0;

        .pika-button {
          display: block;
          width: 24px;
          line-height: 24px;
          border: 0;
          margin: 3px auto;
          padding: 0;
          background-color: transparent;
          border-radius: 50%;
          -webkit-transition: background-color .15s;
          transition: background-color .15s;
          cursor: pointer;
        }
        &.is-today {
          .pika-button {}
        }
        &:hover {
          .pika-button {
            background-color: $gray-100;
          }
        }
        &.is-selected {
          .pika-button, .pika-button:hover, .pika-button:focus, .pika-button:active {
            color: $gray-0;
            background-color: $teal-500;
            cursor: default;
          }
        }
        &.is-disabled, &.is-outside-current-month {
          .pika-button {
            pointer-events: none;
            cursor: not-allowed;
            opacity: .5;
          }
        }
      }
      th {
        color: $gray-800;
        line-height: 24px;
        font-weight: normal;
        text-align: center;
      }
      abbr {
        border-bottom: none;
        cursor: default;
      }
    }
  }
  &.is-hidden {
    display: none;
  }
  &.is-bound {
    position: absolute;
  }
}