.pika-single {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9999;
  display: block;
  position: relative;
  color: #333333;
  background: #ffffff;
  border: solid 1px #009688;
  margin-top: 4px;
  *zoom: 1; }
  .pika-single:before, .pika-single:after {
    content: " ";
    display: table; }
  .pika-single:after {
    clear: both; }
  .pika-single .pika-lendar {
    min-width: 254px; }
    .pika-single .pika-lendar .pika-title {
      display: -webkit-flex;
      /*noinspection CssInvalidPropertyValue*/
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      position: relative;
      text-align: center;
      background-color: #009688;
      color: #ffffff;
      height: 50px; }
      .pika-single .pika-lendar .pika-title select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        margin: 0;
        left: 0;
        top: 5px;
        filter: alpha(opacity=0);
        opacity: 0; }
    .pika-single .pika-lendar .pika-label {
      display: inline-block;
      position: relative;
      z-index: 9999;
      overflow: hidden;
      margin: 0;
      padding: 5px 3px;
      line-height: 1.25rem; }
    .pika-single .pika-lendar .pika-prev, .pika-single .pika-lendar .pika-next {
      position: absolute;
      top: 0;
      display: block;
      border: 0;
      padding: 0;
      width: 40px;
      height: 100%;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      color: #ffffff;
      background: transparent;
      cursor: pointer;
      -webkit-transition: opacity .15s;
      transition: opacity .15s;
      opacity: .7; }
      .pika-single .pika-lendar .pika-prev:hover, .pika-single .pika-lendar .pika-next:hover {
        opacity: 1; }
      .pika-single .pika-lendar .pika-prev.is-disabled, .pika-single .pika-lendar .pika-next.is-disabled {
        cursor: default;
        opacity: .5; }
    .pika-single .pika-lendar .pika-prev, .pika-single .pika-lendar .is-rtl .pika-next {
      left: 0; }
    .pika-single .pika-lendar .pika-next, .pika-single .pika-lendar .is-rtl .pika-prev {
      right: 0; }
    .pika-single .pika-lendar .pika-select {
      display: inline-block; }
    .pika-single .pika-lendar .pika-table {
      width: calc(100% - 20px);
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;
      margin: 10px; }
      .pika-single .pika-lendar .pika-table th, .pika-single .pika-lendar .pika-table td {
        /*width: 14.285714285714286%;*/
        padding: 0; }
        .pika-single .pika-lendar .pika-table th .pika-button, .pika-single .pika-lendar .pika-table td .pika-button {
          display: block;
          width: 24px;
          line-height: 24px;
          border: 0;
          margin: 3px auto;
          padding: 0;
          background-color: transparent;
          border-radius: 50%;
          -webkit-transition: background-color .15s;
          transition: background-color .15s;
          cursor: pointer; }
        .pika-single .pika-lendar .pika-table th:hover .pika-button, .pika-single .pika-lendar .pika-table td:hover .pika-button {
          background-color: #f5f5f5; }
        .pika-single .pika-lendar .pika-table th.is-selected .pika-button, .pika-single .pika-lendar .pika-table th.is-selected .pika-button:hover, .pika-single .pika-lendar .pika-table th.is-selected .pika-button:focus, .pika-single .pika-lendar .pika-table th.is-selected .pika-button:active, .pika-single .pika-lendar .pika-table td.is-selected .pika-button, .pika-single .pika-lendar .pika-table td.is-selected .pika-button:hover, .pika-single .pika-lendar .pika-table td.is-selected .pika-button:focus, .pika-single .pika-lendar .pika-table td.is-selected .pika-button:active {
          color: #ffffff;
          background-color: #009688;
          cursor: default; }
        .pika-single .pika-lendar .pika-table th.is-disabled .pika-button, .pika-single .pika-lendar .pika-table th.is-outside-current-month .pika-button, .pika-single .pika-lendar .pika-table td.is-disabled .pika-button, .pika-single .pika-lendar .pika-table td.is-outside-current-month .pika-button {
          pointer-events: none;
          cursor: not-allowed;
          opacity: .5; }
      .pika-single .pika-lendar .pika-table th {
        color: #777777;
        line-height: 24px;
        font-weight: normal;
        text-align: center; }
      .pika-single .pika-lendar .pika-table abbr {
        border-bottom: none;
        cursor: default; }
  .pika-single.is-hidden {
    display: none; }
  .pika-single.is-bound {
    position: absolute; }

/*# sourceMappingURL=calendar-plugin.css.map */
