<!--block:html-head-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{- this['html-head'].title }}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.75, user-scalable=yes" />
	<link href="styles.css" rel="stylesheet"/>
</head>
<body class="page">
<!--end:html-head-->

<section class="page__wrp" id="page">
	<!--block:header-->
	<header class="header">
		<div class="header__top">
			<div class="fixed-block header__top-wrp">
				<div class="header__logo-col">
					<!--block:logo-link-->
					<!--suppress HtmlUnknownTarget -->
					<a class="logo-link" href="/">
						<svg class="logo-link__svg" width="273.03" height="28.89" viewBox="0 0 273.03 28.89" xmlns="http://www.w3.org/2000/svg">
							<title>Радиозавод24</title>
							<g>
								<path d="M5,15.06v7.72H0V.38H7.91q8.47,0,8.47,7.14A6.85,6.85,0,0,1,13.95,13a9.63,9.63,0,0,1-6.49,2.09ZM5,4.25v7H7q4,0,4-3.53T7,4.25Z"></path>
								<path d="M38.65,22.78h-5.5l-1.59-5h-8l-1.58,5H16.55L24.7.38h6ZM30.4,13.92,28,6.39a9.79,9.79,0,0,1-.37-2H27.5a8.57,8.57,0,0,1-.39,2l-2.44,7.59Z"></path>
								<path d="M65,28.89H60.56V22.78H46.34v6.11H42V18.66H44A41,41,0,0,0,48.84.38h13V18.66H65ZM56.75,18.66V4.58H52.94a35.92,35.92,0,0,1-1.19,7,40.83,40.83,0,0,1-2.52,7.08Z"></path>
								<path d="M90.15,22.78H85.39V10.47a35.64,35.64,0,0,1,.16-3.62h-.09q-.33.64-1.12,1.86L75.07,22.78H70V.38h4.77V12.77a24,24,0,0,1-.12,3.08h.06q.08-.19,1.16-1.83L84.75.38h5.41Z"></path>
								<path d="M106,23.17A10.43,10.43,0,0,1,98.2,20a11.25,11.25,0,0,1-3-8.16,12.05,12.05,0,0,1,3.08-8.59A10.66,10.66,0,0,1,106.4,0a10.17,10.17,0,0,1,7.76,3.14,11.58,11.58,0,0,1,3,8.28A11.86,11.86,0,0,1,114,19.94,10.54,10.54,0,0,1,106,23.17Zm.22-18.83a5.08,5.08,0,0,0-4.22,2,8.3,8.3,0,0,0-1.56,5.27A8.15,8.15,0,0,0,102,16.88a5,5,0,0,0,4.09,1.94,5.06,5.06,0,0,0,4.14-1.88,8.06,8.06,0,0,0,1.53-5.23,8.74,8.74,0,0,0-1.48-5.42A4.84,4.84,0,0,0,106.26,4.34Z"></path>
								<path d="M120.68,22V17.53a10.64,10.64,0,0,0,6.08,1.8q4.22,0,4.22-3t-4.64-3.09h-2.87V9.41h2.75q4.13,0,4.13-2.91,0-2.66-3.52-2.66a11.11,11.11,0,0,0-5.37,1.59V1.31A15.13,15.13,0,0,1,127.81,0a9.31,9.31,0,0,1,5.7,1.52,4.9,4.9,0,0,1,2,4.13,5.38,5.38,0,0,1-1.15,3.48,5.72,5.72,0,0,1-3.27,1.93v.08a6.08,6.08,0,0,1,3.74,1.73,4.88,4.88,0,0,1,1.35,3.51,5.93,5.93,0,0,1-2.34,5q-2.34,1.78-6.75,1.78A13.65,13.65,0,0,1,120.68,22Z"></path>
								<path d="M161,22.78h-5.5l-1.59-5h-8l-1.58,5h-5.47L147,.38h6Zm-8.25-8.86-2.41-7.53a9.86,9.86,0,0,1-.37-2h-.12a8.49,8.49,0,0,1-.39,2L147,13.92Z"></path>
								<path d="M165.05,22.78V.38h8.16A10.19,10.19,0,0,1,179,1.75a4.42,4.42,0,0,1,2,3.88,4.59,4.59,0,0,1-1.23,3.17,6.44,6.44,0,0,1-3.13,1.89v.06a6.21,6.21,0,0,1,3.82,1.77,4.94,4.94,0,0,1,1.43,3.58,6,6,0,0,1-2.2,4.88,9.22,9.22,0,0,1-6,1.8Zm5-18.69V9.41h2.22a3.7,3.7,0,0,0,2.46-.76,2.58,2.58,0,0,0,.9-2.09q0-2.47-3.69-2.47Zm0,9.06v5.91h2.73a4.21,4.21,0,0,0,2.74-.81,2.71,2.71,0,0,0,1-2.22,2.53,2.53,0,0,0-1-2.11,4.32,4.32,0,0,0-2.73-.77Z"></path>
								<path d="M196.32,23.17A10.43,10.43,0,0,1,188.47,20a11.24,11.24,0,0,1-3-8.16,12,12,0,0,1,3.08-8.59A10.66,10.66,0,0,1,196.68,0a10.17,10.17,0,0,1,7.76,3.14,11.58,11.58,0,0,1,3,8.28,11.86,11.86,0,0,1-3.07,8.52A10.54,10.54,0,0,1,196.32,23.17Zm.22-18.83a5.08,5.08,0,0,0-4.22,2,8.3,8.3,0,0,0-1.56,5.27,8.15,8.15,0,0,0,1.56,5.27,5,5,0,0,0,4.09,1.94,5.06,5.06,0,0,0,4.14-1.88,8.06,8.06,0,0,0,1.53-5.23,8.74,8.74,0,0,0-1.48-5.42A4.84,4.84,0,0,0,196.54,4.34Z"></path>
								<path d="M233.35,28.89h-4.44V22.78H214.69v6.11h-4.37V18.66h2.08A40.94,40.94,0,0,0,217.19.38h13V18.66h3.19ZM225.1,18.66V4.58h-3.81a35.81,35.81,0,0,1-1.19,7,40.79,40.79,0,0,1-2.52,7.08Z"></path>
								<path d="M243.14,18.59v.09h9.09v4.09H237.49V18.94l6.42-6.14a18,18,0,0,0,2.73-3.12A4.9,4.9,0,0,0,247.42,7q0-3.09-3.33-3.09a8.35,8.35,0,0,0-5.53,2.3V1.89A11.87,11.87,0,0,1,245.16,0a7.77,7.77,0,0,1,5.37,1.73,6,6,0,0,1,1.93,4.66q0,3.92-4.7,8.11Z"></path>
								<path d="M273,18h-2.69v4.77h-4.5V18h-9.77V14.88L265.49.38h4.86V14.5H273Zm-7.12-12.7h-.09q-.22.56-.84,1.75l-4.8,7.44h5.67v-7Q265.85,6.52,265.91,5.31Z"></path>
							</g>
						</svg>
					</a>
					<!--end:logo-link-->
					
				</div>
				<div class="header__slogan-col">
					<!--block:slogan-->
					<div class="slogan">
						<p class="slogan__text">Информационная&nbsp;система,<br/>которая&nbsp;работает&nbsp;(нет)</p>
					</div>
					<!--end:slogan-->
					
				</div>
				<!--suppress HtmlUnknownTarget -->
				<form class="header__logout-col" action="{{- this['header'].logout_url}}" method="post">
					<button class="btn btn_link btn_link_muted header__logout-btn" type="submit">
						<span class="btn__cap header__logout-cap">Выйти из системы</span>
					</button>
				</form>
			</div>
		</div>
		<div class="header__bottom">
			<div class="fixed-block header__bottom-wrp">
				<div class="header__worker-col">
					<!--suppress HtmlUnknownTarget -->
					<img class="header__worker-image" src="graphics-worker-{{-this.worker.avatar}}.svg" alt="{{-this.worker.name}}" />
					<div class="header__worker">
						<p class="header__worker-name">{{-this.worker.name}}</p>
						<p class="header__worker-spec">{{-this.worker.spec}}</p>
						<p class="header__worker-department">{{-this.worker.department}}</p>
					</div>
				</div>
				<div class="header__menu-col">
					<!--block:menu-->
					<nav class="menu">
					{{for link in this['menu'].links :}}
						<!--suppress HtmlUnknownTarget, HtmlUnknownAttribute -->
						<a class="link menu__link" href="{{-link.href}}" data-active="{{-link.is_active}}">
							<span class="link__cap menu__link-cap">{{-link.cap}}</span>
						</a>
					{{end}}
					</nav>
					<!--end:menu-->
					
				</div>
			</div>
		</div>
	</header>
	<!--end:header-->
	
	<main class="main">
		<!--block:orders-->
		<section class="orders">
			<div class="fixed-block">
				<div class="island orders__island">
					<header class="island__header">
						<p class="island__title">Заказы больших компаний (ООО, ОАО, ЗАО)</p>
					</header>
					<div class="table">
						<div class="table__wrp orders__table">
							<div class="table__r table__head orders__table-head">
								<div class="table__c table__h orders__table-cell orders__vid-cell">ID</div>
								<div class="table__c table__h orders__table-cell orders__client-cell">Заказчик</div>
								<div class="table__c table__h orders__table-cell orders__date-cell">Дата заявки</div>
								<div class="table__c table__h orders__table-cell orders__state-cell">Статус</div>
							</div>
							{{for order in this['orders'].orders['company'] :}}
							<div class="table__r orders__table-row order-action" data-obj='{{-order.obj}}' data-is_acceptable="{{-order.is_acceptable}}">
								<div class="table__c orders__table-cell orders__vid-cell">{{-order.vid}}</div>
								<div class="table__c orders__table-cell orders__client-cell">{{-order.client_name}}</div>
								<div class="table__c orders__table-cell orders__date-cell">{{-order.date}}</div>
								<div class="table__c orders__table-cell orders__state-cell">{{-order.status}}</div>
							</div>
							{{end}}
						</div>
					</div>
				</div>
				<div class="island orders__island">
					<header class="island__header">
						<p class="island__title">Заказы индивидуальных предпринимателей</p>
					</header>
					<div class="table orders__table">
						<div class="table__wrp">
							<div class="table__r table__head orders__table-head">
								<div class="table__c table__h orders__table-cell orders__vid-cell">ID</div>
								<div class="table__c table__h orders__table-cell orders__client-cell">Заказчик</div>
								<div class="table__c table__h orders__table-cell orders__date-cell">Дата заявки</div>
								<div class="table__c table__h orders__table-cell orders__state-cell">Статус</div>
							</div>
							{{for order in this['orders'].orders['individual'] :}}
							<div class="table__r orders__table-row order-action" data-obj='{{-order.obj}}' data-is_acceptable="{{-order.is_acceptable}}">
								<div class="table__c orders__table-cell orders__vid-cell">{{-order.vid}}</div>
								<div class="table__c orders__table-cell orders__client-cell">{{-order.client_name}}</div>
								<div class="table__c orders__table-cell orders__date-cell">{{-order.date}}</div>
								<div class="table__c orders__table-cell orders__state-cell">{{-order.status}}</div>
							</div>
							{{end}}
						</div>
					</div>
				</div>
				<div class="island orders__island">
					<header class="island__header">
						<p class="island__title">Заказы ИНТЕРНЕТ-МАГАЗИН</p>
					</header>
					<div class="table orders__table">
						<div class="table__wrp">
							<div class="table__r table__head orders__table-head">
								<div class="table__c table__h orders__table-cell orders__vid-cell">ID</div>
								<div class="table__c table__h orders__table-cell orders__client-cell">Заказчик</div>
								<div class="table__c table__h orders__table-cell orders__date-cell">Дата заявки</div>
								<div class="table__c table__h orders__table-cell orders__state-cell">Статус</div>
							</div>
							{{for order in this['orders'].orders['e-shop'] :}}
							<div class="table__r orders__table-row order-action" data-obj='{{-order.obj}}' data-is_acceptable="{{-order.is_acceptable}}">
								<div class="table__c orders__table-cell orders__vid-cell">{{-order.vid}}</div>
								<div class="table__c orders__table-cell orders__client-cell">{{-order.client_name}}</div>
								<div class="table__c orders__table-cell orders__date-cell">{{-order.date}}</div>
								<div class="table__c orders__table-cell orders__state-cell">{{-order.status}}</div>
							</div>
							{{end}}
						</div>
					</div>
				</div>
			</div>
			{{ if this.worker.is_order_edit_allowed is 'Y' :}}
			<div class="hidden-wrp">
				<!--block:order-modal-->
				<!--suppress HtmlUnknownTarget -->
				<form class="modal order-modal" id="order-modal" action="javascript:void(0);" method="post">
					<button class="btn modal__close-btn modal__close-action" type="button">
						<i class="btn__icon">
							<svg class="btn__svg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
								<g fill="none" stroke="inherit" stroke-width="inherit">
									<path d="M0,0 L16,16 M0,16 L16,0"></path>
								</g>
							</svg>
						</i>
					</button>
					<div class="modal__content">
						<p class="order-modal__title">Заказ</p>
						<p class="order-modal__key">ID <span class="order-modal__value order-vid">0000</span></p>
						<p class="order-modal__key">Заказчик <span class="order-modal__value order-client_name">—</span></p>
						<p class="order-modal__key">Дата зявки <span class="order-modal__value order-date">00.00.0000</span></p>
						<p class="order-modal__key">Статус <span class="order-modal__value order-status">Ожидает</span></p>
						<ul class="order-modal__workers">
							<li class="order-modal__worker order-modal__header">
								<div class="order-modal__image">
									&nbsp;
								</div>
								<div class="order-modal__about">
									&nbsp;
								</div>
								<div class="order-modal__appointment">
									<p class="order-modal__name">Назначить</p>
								</div>
								<div class="order-modal__lead-engineer">
									<p class="order-modal__name">Ведущий специалист</p>
								</div>
							</li>
							{{for worker in this['order-modal'].workers :}}
							<li class="order-modal__worker">
								<!--suppress HtmlUnknownTarget -->
								<img class="order-modal__image" src="graphics-worker-{{-worker.avatar}}.svg" alt="{{-worker.name}}" />
								<div class="order-modal__about">
									<p class="order-modal__name">{{-worker.name}}</p>
									<p class="order-modal__spec">{{-worker.department}}</p>
								</div>
								<div class="order-modal__appointment">
									<div class="checkbox-block order-modal__select">
										<label class="checkbox-block__wrp">
											<input class="checkbox-block__field" type="checkbox" value="{{-worker.id}}" />
											<i class="checkbox-block__icon">
												<svg class="checkbox-block__svg" viewBox="0 0 13.96 10.45" xmlns="http://www.w3.org/2000/svg">
													<g fill="inherit">
														<polygon points="13.01 0 5.75 7.26 1.6 3.11 0 4.71 4.15 8.86 4.14 8.87 5.72 10.45 13.96 2.2 13.96 0.96 13.01 0"></polygon>
													</g>
												</svg>
											</i>
											<!--<span class="checkbox-block__cap">Булево поле</span>-->
										</label>
									</div>
								</div>
								<div class="order-modal__lead-engineer">
									<div class="radio-block order-modal__select">
										<label class="radio-block__wrp">
											<input class="radio-block__field" type="radio" name="easteregg" value="{{-worker.id}}" />
											<i class="radio-block__icon">
												<span class="radio-block__dot"></span>
											</i>
											<!--<span class="radio-block__cap">Лорем ипсум и компания</span>-->
										</label>
									</div>
								</div>
							</li>
							{{ end }}
						</ul>
						<div class="order-modal__actions order-modal__actions-awaiting">
							<button class="btn btn_size_lg btn_color_primary order-modal__submit-btn" data-url="/orders/" data-params='{}' type="button">
								<span class="btn__cap">Приступить к выполнению</span>
							</button>
							<button class="btn btn_size_lg order-modal__refuse-btn" data-url="/orders/" data-params='{}' type="button">
								<span class="btn__cap">Отменить заказ</span>
							</button>
						</div>
						<div class="order-modal__actions order-modal__actions-wip">
							<button class="btn btn_size_lg btn_color_green order-modal__done-btn" data-url="/orders/" data-params='{}' type="button">
								<span class="btn__cap">Заказ выполнен</span>
							</button>
						</div>
						<!--block:order-modal_form-messages-->
						<div class="form-messages order-modal__messages" data-type="" data-is-hidden>
							<p class="form-messages__msg" data-type="success" data-id="default">Изменения сохранены</p>
							<p class="form-messages__msg" data-type="error" data-id="default">Произошла ошибка</p>
							<p class="form-messages__msg" data-type="error" data-id="bad_reputation">Нельзя взять заказ от компании с низкой репутацией</p>
							<p class="form-messages__msg" data-type="error" data-id="least_one_worker">Нужно назначить хотя бы одного инженера</p>
						</div>
						<!--end:order-modal_form-messages-->
						
					</div>
				</form>
				<!--end:order-modal-->
				
			</div>
			{{ end }}
		</section>
		<!--end:orders-->
		
	</main>
</section>
<!--block:html-foot-->
<script src="scripts.js"></script>
</body>
</html>
<!--end:html-foot-->
