.merchandise__island {
  margin-top: 2rem; }
.merchandise__island:first-child {
  margin-top: 0; }
.merchandise__table {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 500;
  text-transform: uppercase; }
.merchandise__table-head {
  color: #e6e6e6; }
.merchandise__table-row {
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background-color .15s;
  transition: background-color .15s; }
.merchandise__table-row:hover {
  background-color: #f5f5f5; }
.merchandise__table-cell {
  max-width: 100%;
  padding: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
.merchandise__table-head .merchandise__table-cell {
  padding-top: 0; }
.merchandise__done-cell {
  text-align: center; }
.merchandise__demand-cell {
  text-align: center; }
.merchandise__product {
  display: block;
  width: 5rem; }

/*# sourceMappingURL=merchandise.css.map */
