@import "../common/vars";

.merchandise {
  &__island {
    margin-top: $o-md;
  }
  &__island:first-child {
    margin-top: 0;
  }
  &__table {
    font-size: $fs-md;
    line-height: $lh-md;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__table-head {
    color: $gray-300;
  }
  &__table-row {
    border-radius: $rad;
    background-color: transparent;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
  }
  &__table-row:hover {
    background-color: $gray-100;
  }
  &__table-cell {
    max-width: 100%;
    padding: $o-xs;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__table-head &__table-cell {
    padding-top: 0;
    //padding-bottom: $o-sm;
  }
  &__done-cell {
    text-align: center;
  }
  &__demand-cell {
    text-align: center;
  }
  &__product {
    display: block;
    width: 5rem;
  }
}